<template>
    <div style="position:relative;padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">信息审核-待审核</span>
        </div>
        <div class="IfnAuditInfosCenter">
           <div class="IfnAuditInfosCenters">
                <p class="IfnAuditInfosCenteTitle">设备信息</p>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">设备名称：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">设备编号：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">零配件名称：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">零配件型号：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
           </div>
           <div class="IfnAuditInfosCenters">
                <p class="IfnAuditInfosCenteTitle">购买信息</p>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">公司：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">地址：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">用户：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">电话：</span>
                    <span class="IfnAuditInfosCentersC">CM400装机盒机器设备</span>
                </div>
           </div>
        </div>
        <div class="InfAuditInfosFoot">
            <span class="InfAuditInfosBtn InfAuditInfosBtnL" @click="NotPass">拒绝</span>
            <span class="InfAuditInfosBtn InfAuditInfosBtnR" @click="Pass">通过</span>
        </div>
    </div>
</template>

<script>
export default {
    name:'InfAuditInfos',
    data(){
        return {
            
        }
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        NotPass(){
            this.$router.push('/NotPassReason/'+1)
        },
        Pass(){
            this.$router.push('/AuditedPass')
        }
    }
}
</script>

<style>
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.IfnAuditInfosCenter{
    padding: 0 0.3rem;
}
.IfnAuditInfosCenters{
    margin-bottom: 0.5rem
}
.IfnAuditInfosCenteTitle{
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem
}
.IfnAuditInfosCenterName{
    color: #999999;
    font-size: 15px;
    font-weight: bold
}
.IfnAuditInfosCentersC{
    color: #101012;
    font-size: 15px
}
.IfnAuditInfosCentersOne{
    margin-bottom: 0.2rem
}
.InfAuditInfosBtn{
    font-size: 15px;
    border-radius: 0.46rem;
    padding: 0.2rem 1.36rem
}
.InfAuditInfosBtnL{
    float: left;
    color: #9953F0;
    border: 1px solid #9953F0
}
.InfAuditInfosBtnR{
    color: #fff;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    float: right;
}
.InfAuditInfosFoot{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
}
</style>
