<template>
    <div style="padding-top:1.2rem">
        <div class="MyAboutMacCneter"  v-for="(item,index) in AllMyMac" :key="index" @click="gotoAuditInfos(item.id)">
            <div class="MyAboutMacHeader" >
                <img src="../../assets/icon-equip.png" class="MyAboutMacIcon1">
                <span class="MyAboutMacHeaderName">{{item.name}}</span>
            </div>
            <div class="MyAboutMacTwo" >
                <img src="../../assets/icon-notes-1.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">{{item.model}}</span>
                <img src="../../assets/icon-notes-4.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">380V 50hz</span>
                <img src="../../assets/icon-notes-5.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">250kg</span>
            </div>
            <div class="MyAboutMacFoot">
                <span class="MyAboutMacTime">{{item.created_at}}</span>
                <span class="MyAboutMacDelet NotAuditPass" >通过</span>
                <span class="MyAboutMacDelet NotAuditNPass" style="margin-right:0.3rem">拒绝</span>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'NotAudit',
    data(){
        return {
            AllMyMac:[],
        }
    },
    created(){
        this.getAllMyMac()
    },
    methods:{
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/i/products',{
                "page": 1,
                "per": 6
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllMyMac = response.data.data
                console.log(this.AllMyMac)
            })
        },
        gotoAuditInfos(value){
            this.$router.push('/InfAuditInfos/'+value)
        }
    }
}
</script>

<style>
.MyAboutMacCneter{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-bottom: 0.3rem
}
.MyAboutMacHeader{
    padding: 0.3rem;
    padding-bottom: 0.2rem;
    overflow: hidden;
}
.MyAboutMacIcon1{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
    margin-top: 0.08rem
}
.MyAboutMacHeaderName{
    color: #101012;
    font-size: 15px;
    float: left;
}
.MyAboutMacTwo{
    padding: 0.3rem;
    padding-top: 0rem;
    overflow: hidden;
    border-bottom: rgba(34, 24, 21, 0.08) 1px solid
}
.MyAboutMacIcon2{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.06rem
}
.MyAboutMacTwoName{
    color: #CCCCCC;
    font-size: 11px;
    margin-right: 0.3rem;
    float: left;
}
.MyAboutMacFoot{
    overflow: hidden;
    padding: 0.2rem
}
.MyAboutMacTime{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    float: left;
    line-height: 0.6rem
}
.MyAboutMacDelet{
    display: inline-block;
    padding: 0.05rem 0.3rem;
    text-align: center;
    color: #CCCCCC;
    border-radius: 0.26rem;
    border:1px solid #ECECEC;
    font-weight: bold;
    float: right;
    margin-top: 0.05rem
}
.NotAuditNPass{
    color: #9953F0;
    border-color: #9953F0
}
.NotAuditPass{
    color: #fff;
    border: none;
    background: linear-gradient(to right, #9953F0 , #7465E9);
}
</style>
