<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">填写理由</span>
        </div>
        <div class="MacChangeCenter">
            <textarea placeholder="请输入拒绝的理由" class="MacChangeCenterText NotPassReasonText" style="border:none" v-model="MacChangeText"></textarea>
        </div>
        <div class="MacChangeSend" @click="fabuDingdan">提交</div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'NotPassReason',
    data(){
        return {
            BigImageOpen:false,
            Lingpeijain:[],
            filterable: {
                value1: '',
            },
            value2:'',
            MacChangeText:'',
            MacChangeInfo:{},
            ShowPhotoView:false,
            TYPE:'',
            TYPES:'',
            MacChangeImagesList:[],
            MacChangeImageListKeys:[]
        }
    },
    created(){
        this.getAllMyMac()
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/i/products',{
                "page": 1,
                "per": 6
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.Lingpeijain = response.data.data
                console.log(this.Lingpeijain)
            })
        },
        fabuDingdan(){
            // this.MacChangeInfo.type = 'req',
            // this.MacChangeInfo.req_type = 'debug',
            // this.MacChangeInfo.product_id = JSON.parse(localStorage.getItem('product_id')),
            // this.MacChangeInfo.desc = this.MacChangeText
            // for(var i=0;i<this.MacChangeImagesList.length;i++){
            //     this.MacChangeImageListKeys.push(this.MacChangeImagesList[i].key)
            // }
            // console.log(this.MacChangeInfo)
            // this.$axios.post(API+'/api/v1/i/order',{
            //     "type":"req",
            //     "req_type":this.TYPES,
            //     "product_id":JSON.parse(localStorage.getItem('product_id')),
            //     "desc":this.MacChangeText,
            //     "pic_keys":this.MacChangeImageListKeys
            // },{
            //     headers:{
            //         'Authorization':JSON.parse(localStorage.getItem('userInfo'))
            //     }
            // }).then((response)=>{
            //     if(response.data.code == 0){
            //         alert('订单发布成功')
            //         this.$router.push('/MyMac/DingdanRoom/All')
            //     } else {
            //         alert('订单发布失败')
            //     }
            // })
            this.$router.push('/AuditedPass/')
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}

.LingPeijianText{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;

}
.col{
    padding: 0
}

.mu-input-focus-line{
    display: none;
}
.mu-input-line{
    display: none
}
.mu-select{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #E0E0E0;
    margin: 0 0.3rem ;
    width: 6.9rem;
    padding: 0.2rem 0
}
.mu-select-input{
    color: #101012;
    font-size: 14px;
    padding-left: 0.2rem;
}
.mu-option.is-selected .mu-item{
    color: #101012;
}
.LingpeijianCenter{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin:0 0.3rem;
    padding: 0.3rem 0.2rem
}
.Lingpeijianicon{
    width: 0.25rem;
    height: 0.3rem;
    overflow: hidden;
    margin-right: 0.1rem
}
.LingpeijianPlace{
    margin: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    padding: 0.36rem 0.2rem;
}
.LingpeijianPlaces{
    font-size: 14px;
    color: #101012
}
.LingpeijianText{
    outline: none;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: #F1F1F1 solid 1px;
    margin-bottom: 0.3rem
}
.LingpeijianInfo{
    margin: 0 0.3rem;
    padding: 0 0.2rem;
    background: #fff;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    font-size: 14px;
    font-weight: normal;
    padding-top: 0.3rem;
    margin-bottom: 2rem
}
.MacChangeSend{
    margin-left: 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 0.46rem
}
.MacChangeCenter{
    margin: 0 0.3rem;
    padding: 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-bottom: 2rem;
    padding-bottom: 0rem
}
.MacChangeCenterText{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: #F1F1F1 solid 1px;
    outline: none;
    color: #101012;
    font-size: 14px;
    /* font-weight: bold */
}
.NotPassReasonText{
    color: #CCCCCC;
    font-size: 12px;
    height: 4rem;
}
</style>
