<template>
  <div class="nav">
    <ul class="nav-list">
      <li class="item" v-for="(item,index) in navList" :key="index" :class="{'active': nowIndex===index}" @click="tabClick(index)">
        {{item.name}}
      </li>
    </ul>
  </div>
</template>

<script type="text/ecmascript-6">
//   import VueRouter from 'vue-router';

  export default {
    data() {
      return {
        navList: [
          {name: '全部'},
          {name: '零配件'},
          {name: '调试'},
          {name: '维修'},
          {name: '改造'},
          {name: '其他'}
        ],
        nowIndex: 0
      }
    },
    mounted() {
      this.$nextTick(() => {
        // 初始化，保证刷新页面后内容区和导航键一致
        this.initPage();
      });
      // 接收swiper组件发射的index进行导航按钮切换高亮和更新模板地址
      this.$root.eventHub.$on('slideTab', this.slideTab);
    },
    methods: {
      initPage() {
        this.nowIndex = this.$route.path === '/MyMac/DingdanRoom/MineAll' ? 0 : this.$route.path === '/MyMac/DingdanRoom/MineLingpeijianDingdan' ? 1 : this.$route.path === '/MyMac/DingdanRoom/MineTiaosi' ? 2 : this.$route.path === '/MyMac/DingdanRoom/MineWeixiu' ? 3 : this.$route.path === '/MyMac/DingdanRoom/MineGaizao' ? 4 : this.$route.path === '/MyMac/DingdanRoom/MineOther' ? 5 : 0;
      },
      tabClick(index) {
        this.nowIndex = index;
        // 点击导航按钮时向swiper组件发射index
        this.$root.eventHub.$emit('changeTab', index);
      },
      slideTab(index) {
        this.nowIndex = index;
        // let router = new VueRouter();
        let href = index === 0 ? '/MyMac/DingdanRoom/MineAll' : index === 1 ? '/MyMac/DingdanRoom/MineLingpeijianDingdan' : index === 2 ? '/MyMac/DingdanRoom/MineTiaosi' : index === 3 ? '/MyMac/DingdanRoom/MineWeixiu' : index === 4 ? '/MyMac/DingdanRoom/MineGaizao' : index === 5 ? '/MyMac/DingdanRoom/MineOther' : '/MyMac/DingdanRoom/MineAll';
        // 利用路由的push方法更新路径地址
        // router.push(href);
        this.$router.push(href)
      }
    }
  }
</script>
<style lang="stylus" type="text/stylus" rel="stylesheet/stylus" scoped>
  .nav
    font-size 15px
    color #999999
    .nav-list
      width: 100%
      overflow: hidden
      background: #fff
      z-index: 100
      top: 1rem
      position fixed
      .item
        width: 16%
        display: inline-block
        text-align: center
        height: 48px
        line-height: 48px
        &.active
          color #101012
		      font-weight: bold
</style>


