<template>
	<div class="ntabberWarp">
		<div class="nwarp">
			<Item v-for='(item,index) in tabbarDes' :key="index" :txt="item.txt" :page='item.page' @change='getVal' :sel='selected'></Item>
		</div>
	</div>
</template>

<script >
	import Item from './Item.vue'
	export default{
		components:{
			Item
		},
		name:'MyNavbar',
		created(){
			console.log(this.$route.path)
			console.log(this.$route.path.slice(19).indexOf('/') < 0 ? this.$route.path.slice(19) : this.$route.path.slice(19).slice(0,19))
		},
		data:function(){
			return{
				selected:this.$route.path.slice(19).indexOf('/') < 0 ? this.$route.path.slice(19) : this.$route.path.slice(19).slice(0,19),
				tabbarDes:[
					{
						txt:'全部',
						page:'MineAll',
						
					},				
					{
						txt:'零配件',
						page:'MineLingpeijianDingdan',
					},				
					{
						txt:'调试',
						page:'MineTiaosi',
					},
					{
						txt:'维修',
						page:'MineWeixiu',
					},
					{
						txt:'改造',
						page:'MineGaizao',
					},
					{
						txt:'其他',
						page:'MineOther',
					}
				]
			}
		},
		methods:{
			getVal:function(res){
				this.selected = res;
			}
		}
	}
</script>

<style >
	.nwarp{
		width: 100%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 0;
	}
	.nwarp img{
		width: 20px;
		height: 20px;
	}
	.ntabberWarp img{
		width: 0.4rem;
    	height: 0.4rem;
    	background: red
 
	}
	.ntabberWarp span{
		font-size: 15px;
    	color: #999999;
		font-weight: bold
	}
	.ntabberWarp{
		width: 100%;
		overflow: hidden;
		padding:0.1rem 0;
		background: #fff;
		z-index: 100;
		margin-bottom: 0.5rem;
		position: fixed;
	}
</style>
