<template>
  <div class="swiper-box">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item, index) in list" :key="index">
          <keep-alive>
            <component :is="item.component"></component>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import one from '../Dingdan/All.vue';
  import two from '../Dingdan/LingpeijianDingdan.vue';
  import three from '../Dingdan/Tiaosi.vue';
  import four from '../Dingdan/Weixiu.vue';
  import five from '../Dingdan/Gaizao.vue';
  import six from '../Dingdan/Other.vue';
  import Swiper from './../../../static/swiper.min.js';
  import './../../../static/swiper.min.css';

  export default {
    components: {
      one,two,three,four,five
    },
    data() {
      return {
        list: [
          {path: '/MyMac/Dingdan/All', component: one},
          {path: '/MyMac/Dingdan/LingpeijianDingdan', component: two},
          {path: '/MyMac/Dingdan/Tiaosi', component: three},
          {path: '/MyMac/Dingdan/Weixiu', component: four},
          {path: '/MyMac/Dingdan/Gaizao', component: five},
          {path: '/MyMac/Dingdan/Other', component: six}
        ]
      }
    },
    mounted() {
      
      var mySwiper = new Swiper('.swiper-container', {
        autoHeight: true,
        observer:true,
        observeParents:true,
        // 设定初始化时slide的索引
        initialSlide: this.$route.path === '/MyMac/Dingdan/All' ? 0 : this.$route.path === '/MyMac/Dingdan/LingpeijianDingdan' ? 1 : this.$route.path === '/MyMac/Dingdan/Tiaosi' ? 2 : this.$route.path === '/MyMac/Dingdan/Weixiu' ? 3 : this.$route.path === '/MyMac/Dingdan/Gaizao' ? 4 : this.$route.path === '/MyMac/Dingdan/Other' ? 5 : 0
      });
      console.log(mySwiper.length);
      if(mySwiper.length){
        mySwiper[1].on('slideChange', () => { // 监控滑动后当前页面的索引，将索引发射到导航组件
        // 左右滑动时将当前slide的索引发送到nav组件
          this.$root.eventHub.$emit('slideTab', mySwiper[1].activeIndex);
        });
        // 接收nav组件传过来的导航按钮索引值，跳转到相应内容区
        this.$root.eventHub.$on('changeTab', (index) => { // 点击导航键跳转相应内容区
          mySwiper[1].slideTo(index, 0, false);
        });
      }else{
        mySwiper.on('slideChange', () => { // 监控滑动后当前页面的索引，将索引发射到导航组件
        // 左右滑动时将当前slide的索引发送到nav组件
        this.$root.eventHub.$emit('slideTab', mySwiper.activeIndex);
        });
        // 接收nav组件传过来的导航按钮索引值，跳转到相应内容区
        this.$root.eventHub.$on('changeTab', (index) => { // 点击导航键跳转相应内容区
          mySwiper.slideTo(index, 0, false);
        });
      }
      
    }
  }
</script>
<style lang="stylus" type="text/stylus" rel="stylesheet/stylus">

</style>
