<template>
	<div class="itemWarp flex_mid" @click='changePage'>
		<span v-show='!bol'>
			<slot name='normalImg'></slot>
		</span>
		<span v-show='bol'>
			<slot name='activeImg'></slot>
		</span>
		<span :class="!bol ? '' : 'active'" v-text='txt'></span>
	</div>
</template>
<script >
import {mapMutations} from 'vuex'
	export default{
		name: 'Item',
		props:{
			txt:{
				type:String
			},
			page:{
				type:String
			},
			sel:{
				type:String
			}
		},
		computed:{
			bol: function(){
				if(this.sel == this.page){
					return true;
				}
				return false;
			}
		},
		methods:{
			...mapMutations({
				setNewsMsgs: 'SET_NEWSMSGS',
			}),
			changePage:function(){
				//点击跳转对应的页面
				// this.$router.push('/MyMac/'+this.page);
				if(this.page == 'Dingdan'){
					// this.$router.push('/MyMac/Dingdan/All');
					this.$router.push('/MyMac/DingdanRoom/MineAll');
				}else if (this.page == 'InfAudi'){
					this.$router.push('/MyMac/InfAudi/NotAudit');
				}else if(this.page == 'Xiaoxi'){
					sessionStorage.setItem('NoNews',JSON.stringify(false))
					this.setNewsMsgs(false)
					this.$router.push('/MyMac/'+this.page);
				}else{
					this.$router.push('/MyMac/'+this.page);
				}
				this.$emit('change',this.page)
			}
		}
	}
</script>
<style >
	.itemWarp{
		/* flex-grow: 1; */
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.itemWarp .flex_mid{
		width: 20%;
		float: left;
	}
	.itemWarp span{
		font-size: 12px;
	}
	.itemWarp .active{
		color: #9953F0
	}
</style>
