<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">关于我们</span>
        </div>
        <div class="LongTengHeader">
            <img src="../../assets/251543913484_.pic.jpg"  class="LongTengLog">
        </div>
        <div class="LongTengCenter">
            <div class="LongTengCenterOne">
                <span class="LongTengCenterTitle">商务合作</span>
                <span class="LongTengCenterNum">153521853@qq.com</span>
            </div>
             <div class="LongTengCenterOne">
                <span class="LongTengCenterTitle">商务合作</span>
                <span class="LongTengCenterNum">153521853@qq.com</span>
            </div>
             <div class="LongTengCenterOne">
                <span class="LongTengCenterTitle">商务合作</span>
                <span class="LongTengCenterNum">153521853@qq.com</span>
            </div>
             <div class="LongTengCenterOne">
                <span class="LongTengCenterTitle">商务合作</span>
                <span class="LongTengCenterNum">153521853@qq.com</span>
            </div>
        </div>
        <div class="LongTengCenterFoot">
            <p class="LongTengCenterFootOne">V7.7.9</p>
            <p class="LongTengCenterFootTwo">@2018 龙腾.All rights reserved</p>
        </div>
    </div>
</template>

<script>
export default {
    name:'AboutLongTeng',
    data(){
        return {}
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.LongTengLog{
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 2.86rem;
    margin-top: 1rem;
    border-radius: 50%;
    background: linear-gradient( #9953F0 , #7465E9);
}
.LongTengHeader{
    height: 3.8rem;
    margin-bottom: 0.6rem
}
.LongTengCenter{
    margin: 0 0.3rem
}
.LongTengCenterOne{
    border-bottom: #F1F1F1 1px solid;
    overflow: hidden;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem
}
.LongTengCenterTitle{
    color: #101012;
    font-size: 14px;
    font-weight: 500;
    float: left;
}
.LongTengCenterNum{
    float: right;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}
.LongTengCenterFoot{
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
    text-align: center
}
.LongTengCenterFootOne{
    color: #101012;
    font-size: 15px;
    font-weight: bold
}
.LongTengCenterFootTwo{
    color: #999999;
    font-size: 12px;
    font-weight: bold
}
.LongTengLOGO{
    width: 1.8rem;
    height: 1.8rem;
}
</style>
