<template>
    <div style="height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">版本信息</span>
        </div>
        <div class="BanbenCenter">
            <img src="../../assets/251543913484_.pic.jpg" class="BanbenLog">
            <p class="BanbenName">龙腾</p>
            <p class="BanbenNum">版本号：V2.60</p>
        </div>
    </div>
</template>
<script>
export default {
    name:'MySet',
    data(){
        return {}
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        gotoBanbenInfo(){
            this.$router.push('/BanbenInfo/')
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.BanbenCenter{
    text-align: center;
    width: 100%;
    padding-top: 4rem
}
.BanbenLog{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-bottom: 0.3rem
}
.BanbenName{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.8rem
}
.BanbenNum{
    color: #999999;
    font-size: 15px;
    font-weight: bold
}
</style>
