<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            <span class="Dingdan-title">我的订单</span>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'MyDingDan',
    
    data(){
        return {}
    },

    methods:{
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.5rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}

</style>
