<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="MyPlaceicon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="MyPlaceicon1">
            </div>
            <span class="MyPlacetitle">账户信息</span>
        </div>
        <div class="Content">
            <div class="MyInfor">
                <span class="MyThreeName MyThreeNames">头像</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore LingpeijianMore1" style="margin-top: 0.3rem;">
                <img :src="MyInfo.avatar_url" v-if="MyInfo.avatar_url" class="MyinforTx">
                <img src="../../assets/221543839474_.pic.jpg" v-if="!MyInfo.avatar_url" class="MyinforTx">
                
            </div>
            <div class="MyInfor MyInfor1" @click="gotoChangeName">
                <span class="MyThreeName MyThreeNames">用户名</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">{{MyInfo.name}}</span>
            </div>
            <div class="MyInfor MyInfor1">
                <span class="MyThreeName MyThreeNames">职位/工种</span>
                <!-- <img src="../../assets/icon-more3.png" class="LingpeijianMore"> -->
                <span class="MyInforRight">{{MyInfo.position}}</span>
            </div>
            <!-- <div class="MyInfor MyInfor1">
                <span class="MyThreeName">生日</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">
                   1990-08-25
                </span>
            </div> -->
            
            <div class="MyInfor MyInfor1" @click="showCont">
                <span class="MyThreeName MyThreeNames">性别</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight" id="MyInforRight">{{SEX}}</span>
            </div>
            <div class="MyInfor MyInfor1" @click="gotoMyPhone">
                <span class="MyThreeName MyThreeNames">电话</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">{{MyInfo.tel}}</span>
            </div>
        </div>
        <div class="PhotoViewBox" v-if="hidden">
            <div class="PhotoViewCenter">
                <p class="PhotoViewOne" @click="changeSexMan">男</p>
                <p class="PhotoViewOne" @click="changeSexWomen">女</p> 
                <p class="PhotoViewClose" @click="NoChange">保密</p>
            </div>
        </div>
       
    </div>
    
</template>

<script>
import {API} from '../../api/config.js';
import Toast from 'muse-ui-toast';
export default {
    name:'MyInformation',

    data(){
        return {
            hidden:false,
            SEX:'男',
            MyInfo:{}
        }
    },
    created(){
        this.getMyInformation()
    },
    methods:{

        goBack(){
            this.$router.push('/MyMac/My')
        },
       gotoChangeName(){
            this.$router.push('/ChangeName/')
        },
        gotoMyPhone(){
            this.$router.push('/MyPhone/')
        },
        showCont:function(){
            this.hidden = !this.hidden;
        },
        changeSexMan(){
            this.$axios.post(API+'/api/v1/o/set_profile',{
                "gender":'male' 
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.SEX = '男'
                    this.hidden = !this.hidden;
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                    this.hidden = !this.hidden;
                }
            })
        },
        changeSexWomen(){
            console.log(this.hidden)
            this.SEX = '女'
            this.hidden = !this.hidden;
            this.$axios.post(API+'/api/v1/o/set_profile',{
                "gender":'female' 
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.SEX = '女'
                    this.hidden = false;
                    console.log(this.hidden)
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                    this.hidden = !this.hidden;
                }
            })
        },
        NoChange(){
            this.$axios.post(API+'/api/v1/o/set_profile',{
                "gender":'secret' 
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.SEX = '保密'
                    this.hidden = !this.hidden;
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                    this.hidden = !this.hidden;
                }
            })
        },
        getMyInformation(){
            this.$axios.get(API+'/api/v1/o/profile',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.MyInfo = response.data.data
                this.SEX = this.MyInfo.gender_name
                console.log(this.MyInfo)
            })
        }
    },


}
</script>

<style>

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}

.MyPlaceicon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
    margin-right: 2.54rem
}
.MyPlacetitle{
    font-size: 18px;
    color: #101012;
}
.MyPlaceIcon1{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.1rem
}
.Content{
    width: 100%;
    padding: 0 0.3rem;
}
.MyInfor{
    /* width: 100%; */
    padding: 0.2rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    overflow: hidden;
    margin-top: 0.3rem;
    border-radius: 0.1rem;
    line-height: 0.8rem;
    font-size: 14px;
}
.MyInfor1{
    padding: 0.3rem 0.2rem;
    line-height: 0.4rem;
}
.MyinforTx{
    width: 0.8rem;
    height: 0.8rem;
    float: right;
    border-radius: 50%;
}
.MyThreeName{
    color: #666;
    float: left;
}
.MyThreeIcon{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin-right: 0.3rem
}

.MyInforRight{
    float: right;
}
.LingpeijianMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.08rem;
    margin-left: 0.2rem;
}
.LingpeijianMore1{
    margin-top: 0.3rem;
}
.PhotoViewBox{
    height: 100%;
    width: 100%;
    position: fixed;
    background: RGBA(0, 0, 0, 0.3);
    z-index: 400;
    top: 0
}
.PhotoViewCenter{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 5%; */
    background: #fff;
    text-align: center
}
.PhotoViewOne{
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0;
    color: #101012;
    border-bottom: 1px solid #F1F1F1
}
.PhotoViewClose{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0
}
.active{
    color:#FF6464;
}
.MyInforRight{
    color: #101012;
}
.MyThreeNames{
    color: #666
}
</style>
