<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
        </div>
        <div class="EnterpriseInfoHeader">
            <p class="EnterpriseInfoName">{{EnterpriseInfo.name}}</p>
            <div style="position:relative">
                <div class="EnterpriseInfoImgs">
                    <img v-if="!EnterpriseInfo.avatar_url" src="../../assets/221543839474_.pic.jpg" class="EnterpriseInfoTouxiang" >
                    <img v-if="EnterpriseInfo.avatar_url" :src="EnterpriseInfo.avatar_url" class="EnterpriseInfoTouxiang" >
                </div>
                <img v-if="EnterpriseInfo.gender_name == '男'" src="../../assets/icon-sex-man.png" class="EnterpriseInfoSex" >
                <img v-if="EnterpriseInfo.gender_name == '女'" src="../../assets/icon-sex-woman.png" class="EnterpriseInfoSex" >
            </div>
        </div>
        <div class="EnterpriseInfoCenter">
            <p class="EnterpriseInfoTitle">企业信息</p>
            <p class="EnterpriseInfoCompany">{{EnterpriseInfo.company_name}}</p>
        </div>
        <div class="EnterpriseInfoCenter">
            <p class="EnterpriseInfoTitle">联系电话</p>
            <div style="overflow:hidden">
                <p class="EnterpriseInfoCompany" style="float:left">{{EnterpriseInfo.tel}}</p>
                <img src="../../assets/icon-phone1.png" class="EnterpriseInfoCenterPhone">
            </div>
        </div>
        <div class="EnterpriseInfoCenter" @click="gotoEnterprise">
            <p class="EnterpriseInfoTitle">部门</p>
            <div style="overflow:hidden">
                <p class="EnterpriseInfoCompany" style="float:left">{{EnterpriseInfo.dept_name}}</p>
                <img src="../../assets/icon-more3.png" class="EnterpriseInfoCenterMore">
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'EnterpriseInfo',
    data(){
        return {
            EnterpriseInfo:{},
        }
    },
    created(){
        this.getAllMyMac()
    },
    methods:{
        
        goBack(){
            this.$router.go(-1)
        },
        gotoEnterprise(){
            this.$router.push('/MyMac/Enterprise/')
        },
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/o/staff_info',{
                params:{
                    "staff_id":this.$route.params.id
                }
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                this.EnterpriseInfo = response.data.data
            })
        },
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.EnterpriseInfoHeader{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.1rem;
    height: 2.6rem;
    text-align: center;
    position: relative;
    margin-bottom: 1.2rem
}
.EnterpriseInfoName{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.6rem
}
.EnterpriseInfoImgs{
    width: 1.3rem;
    height: 1.3rem;
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -0.6rem;
    left: 40%;
    text-align: center;
    overflow: hidden;
    box-shadow:1px 1px 15px rgba(153, 83, 240, 0.2); 
}
.EnterpriseInfoTouxiang{
    width: 1.2rem;
    height: 1.2rem;
}
.EnterpriseInfoSex{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 53%;
    top: 0.2rem;
    z-index: 100;
}
.EnterpriseInfoCenter{
    padding: 0 0.3rem;
    border-bottom: 1px solid #F1F1F1;
    margin-top: 0.5rem;
    padding-bottom: 0.3rem
}
.EnterpriseInfoTitle{
    color: #999999;
    font-size: 12px;
    margin-bottom: 0.2rem
}
.EnterpriseInfoCompany{
    color: #101012;
    font-size: 15px
}
.EnterpriseInfoCenterPhone{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.EnterpriseInfoCenterMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.1rem;
}
</style>
