<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">{{EnterPriseName}}</span>
        </div>
       <div class="MacChangeCenterSS ArtisanHeader">
            <img src="../../assets/icon-find.png" class="ArtisanSearch">
            <input type="text" placeholder="搜索" v-model="EnterpriseName">
        </div>
        <div class="MacChangeCenterSS" style="line-height:0.8rem" @click="gotoEnterpriseInfo(item.id)" v-for="(item,index) in EnterprisePerList" :key="index">
            <img v-if="!item.avatar_url" src="../../assets/221543839474_.pic.jpg" class="EnterpriseImgs">
            <img v-if="item.avatar_url" :src="item.avatar_url" class="EnterpriseImgs">
            <span class="EnterpriseName">{{item.name}} ({{item.position}})</span>
            <img src="../../assets/icon-more3.png" class="MacBaoyangMores EnterpriseMore">
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
// import { constants } from 'http2';
export default {
    name:'EnterpriseList',
    data(){
        return {
            Lingpeijain:[],
            EnterprisePerList:[],
            EnterPriseName:JSON.parse(sessionStorage.getItem("EnterPriseName")),
            EnterpriseName:''
        }
    },
    created(){
        this.getAllMyMac()
    },
    watch:{
        EnterpriseName(n,o){
            this.$axios.get(API+'/api/v1/o/workers',{
                params:{
                    keyword:n
                }
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.EnterprisePerList = response.data.data
            })
        }
    },
    methods:{
        
        goBack(){
            this.$router.go(-1)
        },
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/o/staffs',{
                params:{
                    "dept_id":this.$route.params.id 
                }
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                this.EnterprisePerList = response.data.data
            })
        },
        gotoEnterpriseInfo(value){
            this.$router.push('/EnterpriseInfo/'+value)
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}

.MacChangeCenterSS{
    margin: 0 0.3rem;
    padding: 0.3rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #101012;
    font-size: 15px;
    overflow: hidden;
    border-radius: 0.1rem;
    margin-bottom: 0.3rem
}
.ArtisanHeader{
    border-radius: 0.46rem;
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem
}
.ArtisanSearch{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-top: 0.04rem;
    margin-right: 0.1rem
}
.EnterpriseImgs{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin-right: 0.3rem;
    border-radius: 50%
}
.MacBaoyangMores{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.1rem;
}
.EnterpriseName{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    float: left;
}
.EnterpriseMore{
    margin-top: 0.25rem
}
</style>
