<template>
    <div style="position:relative;padding:1.6rem 0;">
        <div class="DingdanInfo-Header">
            <span class="Dingdan-title">企业员工</span>
        </div>
        <div class="MacChangeCenterSS ArtisanHeader">
            <img src="../../assets/icon-find.png" class="ArtisanSearch">
            <input type="text" placeholder="搜索">
        </div>
        <div class="MacChangeCenterSS" style="line-height:0.8rem" @click="gotoEnterpriseList(item.id,index)" v-for="(item,index) in EnterpriseList" :key="index">
            <!-- <img src="../../assets/icon-class1-xing.png" class="EnterpriseImgs"> -->
            <div class="EnterpriseImgS" :class='Class(index)'><span style="margin-left:0.2rem">{{item.name}}</span></div>
            <span class="EnterpriseName">{{item.name}}</span>
            <img src="../../assets/icon-more3.png" class="MacBaoyangMores EnterpriseMore">
            <span class="EnterpriseNum">{{item.staff_count}}</span>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'Enterprise',
    data(){
        return {
            EnterpriseList:[]
        }
    },
    created(){
        this.getAllEnterprise()
    },
    methods:{
        Class(index){
            return "one"+(index+1)%6
        },
        gotoEnterpriseList(value,index){
            sessionStorage.setItem('EnterPriseName',JSON.stringify(this.EnterpriseList[index].name))
            this.$router.push('/EnterpriseList/'+value)
        },
        getAllEnterprise(){
            this.$axios.get(API+'/api/v1/o/depts',{
                params:{
                    "page": 1,
                    "per": 20
                }
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.EnterpriseList = response.data.data
                console.log(this.EnterpriseList)
            })
        }
    }
}
</script>

<style>
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.MacChangeCenterSS{
    margin: 0 0.3rem;
    padding: 0.3rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #101012;
    font-size: 15px;
    overflow: hidden;
    border-radius: 0.1rem;
    margin-bottom: 0.3rem
}
.ArtisanHeader{
    border-radius: 0.46rem;
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem;

}
.ArtisanSearch{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-top: 0.04rem;
    margin-right: 0.1rem
}
.EnterpriseImgS{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin-right: 0.3rem;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    letter-spacing:1rem
}
.MacBaoyangMores{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.1rem;
}
.EnterpriseName{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    float: left;
}
.EnterpriseNum{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin-right: 0.3rem
}
.EnterpriseMore{
    margin-top: 0.25rem
}
.one1{
    background: linear-gradient(to right, #727EFF , #A065FA);
}
.one2{
    background: linear-gradient(to right, #7968C4 , #B271CD);
}
.one3{
    background: linear-gradient(to right, #EE7272 , #E89973);
}
.one4{
    background: linear-gradient(to right, #79B9FD , #955FE9);
}
.one5{
    background: linear-gradient(to right, #F289E5 , #E97AA9);
}
.one0{
    background: linear-gradient(to right, #44B7FE , #0AE8FD);
}
</style>
