<template>
    <div style="position:relative">
        <div class="Popup" v-if="!PopBoole"  @click.stop>
            <span class="Popup-p" v-for="(item,index) in MACList" :key="index" @click="gotoNewMac(index)">{{item.name}} </span>
            <span class="Popup-button" @click="gotoWriter">添加设备</span>
        </div>
        <div class="DingdanInfo-Header">
            <img class="DingdanInfo-icon3 MacInfoIcon3" src="../assets/icon-nav-switch.png" @click.stop @click="OpenPop" v-if="PopBoole">
            <img class="DingdanInfo-icon3 MacInfoIcon3" src="../assets/icon-nav-switch-on.png" @click.stop @click="OpenPop" v-if="!PopBoole">
            <span class="Dingdan-title" v-if="this.MAC.name">{{this.MAC.name}}</span>
            <span class="Dingdan-title" v-if="this.MAC.product_name">{{this.MAC.product_name}}</span>
        </div>
        <div class="BaoZhen">
            <span class="zhenduan" @click="gotoMacZhen">诊断手册</span>
            <span class="zhenduan baoyang" @click="gotoMacBao">保养记录</span>
        </div>

        <div class="container" v-if="progerssListTrue">
            <div v-for="(obj,ind) in progerssList" :key="ind">
                <circle-progress :list='obj.progress' :jindu='obj.jindu'></circle-progress>
            </div>
        </div>

        <div class="NUM">
            <div class="NUMS" @click="gotoMacBao">
                <p class="NUMname">累计保养</p>
                <span class="NUMnum">{{NUMS.inspect_count}}</span>
                <span>次</span>
            </div>
            <div class="NUMS" @click="gotoDingdanLingpeijian">
                <p class="NUMname">配件更换</p>
                <span class="NUMnum">{{NUMS.buy_count}}</span>
                <span>次</span>
            </div>
            <div class="NUMS" @click="gotoDingdan">
                <p class="NUMname">累计求助</p>
                <span class="NUMnum">{{NUMS.req_count}}</span>
                <span>次</span>
            </div>
        </div>
        <div style="padding-bottom:0.3rem">
            <div class="check" v-for="(item,index) in baoYangSteps" :key="index"  v-if="item.result_name == item.options[0].name ? false : true && item.result_id%2==0">
                <div class="checks" >
                    <span class="checkName" @click="gotoBuyPage(index)">{{item.title}}</span>
                    <img src="../assets/icon-more3.png" class="MacInfoMore" :class="item.result_name ? 'CheckOverS':'CheckOver'">
                    <span class="checkchange" :id="checkchange(index)" :class="item.result_name ? 'NotCheckOverS':'NotCheckOver'" @click="TYPEChange(index)">未检测</span>
                    <span class="checkchange" :id="item.result_name == item.options[0].name ? checkchange(index) : checkchanges(index)" :class="item.result_name ? 'CheckOverS':'CheckOver'" @click="TYPEChanges(index)">{{item.result_name}}</span>
                    <span class="checkNum checkNums">{{index+1}}/{{baoYangSteps.length}}</span>
                </div>
                <div class="Good" v-if="item.check">
                    <span class="zheng" @click="Change(index)">{{item.options[0].name}}</span>
                    <span class="nzheng" @click="Changes(index)">{{item.options[1].name}}</span>
                </div>
            </div>
        </div>
        <div style="margin-bottom:2rem">
            <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.4rem;font-weight:bold">这周保养记录</p>
            <div id="myChart"></div>
        </div>
    </div>
</template>
<script>
let echarts = require('echarts/lib/echarts')
require('echarts/lib/chart/bar')
require('echarts/lib/component/title')
require('echarts/lib/component/tooltip')
import {API} from '../api/config.js'
import circleProgress from '../common/circleProgress'
import {mapGetters,mapMutations} from 'vuex'
export default {
    name:"MacInfo",
    computed:{
        ...(mapGetters(['companyInfo']))
    },
    components:{
        'circle-progress': circleProgress
    },
    data(){
        return {
            PopBoole:'false',
             progerssList:[
                {"progress":10,"jindu":'10'},
            ],
            MAC:{},
            product_id:'',
            baoYangSteps:[],
            MACList:[],
            StepsOptionId:true,
            openORnot:{},
            progerssListTrue:false,
            NUMS:{},
            WeekStats:[]
        }
    },
    created(){
        this.getAllMyMac()
    },
    mounted(){
        document.addEventListener('click',(e)=>{
            if(e.target.className != 'Popup' && e.target.className != 'MacInfoIcon3'){
                this.PopBoole = true
            }
        })
    },
    methods:{
        handleClose(){
            console.log(132)
        },
        ...mapMutations({
            setCompanyInfo:'SET_COMPANYINFO',
            setLingpeijianList:'SET_LINGPEIJIANLIST',
            setWhichLingpeijian:'SET_WHICHLINGPEIJIAN',
            setIssue_id:'SET_ISSUE_ID'
        }),
        TYPEChanges(value){
            if(this.baoYangSteps[value].options[0].name!==this.baoYangSteps[value].result_name){
                console.log(this.baoYangSteps[value])
                this.setLingpeijianList(this.baoYangSteps[value].components)
                this.setWhichLingpeijian(JSON.parse(localStorage.getItem('product_id')))
                this.$router.push('/Lingpeijian/')
            }
        },
        TYPEChange(value){
            this.baoYangSteps[value].check = !this.baoYangSteps[value].check 
            this.openORnot[value] = true
            // this.baoYangSteps[value].inspects = !this.baoYangSteps[value].inspects
        },
        gotoNewMac(ID){
            console.log(ID)
            localStorage.setItem('COMPANYINFO',JSON.stringify(this.MACList[ID]))
            localStorage.setItem('product_id',JSON.stringify(this.MACList[ID].id))
            this.$router.go(0)
        },
        gotoBuyPage(value){
            if(this.baoYangSteps[value].options[0].name!==this.baoYangSteps[value].result_name){
                console.log(this.baoYangSteps[value])
                this.setLingpeijianList(this.baoYangSteps[value].components)
                this.setWhichLingpeijian(JSON.parse(localStorage.getItem('product_id')))
                this.$router.push('/Lingpeijian/')
            }
        },
        Change(value){
            console.log(this.product_id)
            this.baoYangSteps[value].result_name = this.baoYangSteps[value].options[0].name
            this.$axios.post(API+'/api/v1/i/inspects',{
                "product_id": this.product_id,
                "inspect_step_id": this.baoYangSteps[value].id,
                "option_id": this.baoYangSteps[value].options[0].id
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
            })
        },
        Changes(value){
            this.baoYangSteps[value].check = !this.baoYangSteps[value].check 
            this.baoYangSteps[value].result_name = this.baoYangSteps[value].options[1].name
            this.StepsOptionId = false
            this.$axios.post(API+'/api/v1/i/inspects',{
                "product_id": this.product_id,
                "inspect_step_id": this.baoYangSteps[value].id,
                "option_id": this.baoYangSteps[value].options[1].id
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
            })
        },
        checkchange(value){
            if(value%2 == 0){
                return "checkchange"+(value+1)%2
            } else {
                return "checkchange"+value%2
            }
        },     
        checkchanges(value){
            if(value%2 == 0){
                return "checkchange"+value%2
            } else {
                return "checkchange"+(value+1)%2
            }
        }, 
        gotoDingdan(){
            this.$router.push('/MyMac/Dingdan/All')
        }, 
        gotoDingdanLingpeijian(){
            this.$router.push('/MyMac/Dingdan/LingpeijianDingdan')
        },  
        gotoMacZhen(){
            this.$axios.get(API+'/api/v1/common/issues',{
                params:{"product_id": this.product_id}
            }).then((response) => {
                console.log(response.data.data)
                this.issusesList = response.data.data
                var ID = response.data.data[0].id
                this.setIssue_id(ID)
                this.$router.push('/Proplem/'+ID)
            })
            // this.$router.push('/MacZhenduan')
        },
        gotoMacBao(){
            this.$router.push('/MacBaoyang')
        },
        OpenPop(){
            this.PopBoole = !this.PopBoole
            console.log(this.PopBoole)
        },
        gotoWriter(){
            this.$router.push('/xilieChoose/')
        },
        //获取关联设备
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/i/products',{
                "page": 1,
                "per": 6
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.MACList = response.data.data
                if(localStorage.getItem('product_id')){
                    this.product_id=JSON.parse(localStorage.getItem('product_id'))
                }else{
                    this.product_id = response.data.data[0].id
                    localStorage.setItem('COMPANYINFO',JSON.stringify(this.MACList[0]))
                    localStorage.setItem('product_id',JSON.stringify(this.product_id))
                }
                console.log(this.MACList)
                for(var i=0;i<this.MACList.length;i++){
                    if(this.MACList[i].id == this.product_id){
                        this.MAC = this.MACList[i]
                    }
                }
                this.getMacAllInfo()
            })
        },
        //获取设备保养步骤
        getMacAllInfo(){
            console.log(this.product_id)
            this.$axios.get(API+'/api/v1/i/product_info',{
                params:{"product_id": this.product_id}
            },{
                headers:{'Authorization':JSON.parse(localStorage.getItem('userInfo'))}
            }).then((response) => {
                console.log(response)
                this.NUMS = response.data.data.stats
                this.progerssList[0].progress = response.data.data.inspects.percentage
                this.progerssList[0].jindu = response.data.data.inspects.percentage+''

                this.progerssListTrue = true
                let arr = []
                response.data.data.inspects.steps.map(item=>{
                    arr.push({...item,check:false})
                })
                this.baoYangSteps = arr
                console.log(this.baoYangSteps)
                // this.baoYangSteps = response.data.data.inspects.steps
                this.WeekStats = response.data.data.stats.inspect_week_stats
                this.drawLine()
            })
        },
        //柱状图
        drawLine(){
            let myChart = echarts.init(document.getElementById('myChart'))
            myChart.setOption({
                title:{text:''},
                textStyle:{
                    borderColor:'#EFF0F2',
                    color:'#ccc'
                },
                color:{
                    type:'linera',
                    x:0,
                    y: 0,
                    x2: 0,
                    y2: 1,
                    colorStops:[{
                        offset:0,color:'#9953F0'
                    },{
                        offset:1,color:'#7465E9'
                    }]
                },
                xAxis:{
                    data:['一','二','三','四','五','六','日'],
                    axisLine:{
                        lineStyle:{
                            color:'#EFF0F2'
                        }
                    }
                },
                yAxis:{
                    type:'value',
                    splitLine:{
                        show:false
                    },
                    dataMax:100,
                    axisLine:{
                        lineStyle:{
                            color:'#EFF0F2'
                        }
                    }
                },
                grid:{
                    left:30,
                    top:5,
                    right:5,
                    bottom:30
                },
                series:[{
                    name:'得分',
                    type:'bar',
                    data:this.WeekStats,
                    barWidth:10
                }]
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.MacInfoIcon3{
    margin-top: 0.1rem
}
.DingdanInfo-icon3{
    width: 0.32rem;
    height: 0.32rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.Popup{
    padding:0.5rem 0.6rem;
    padding-top: 0.3rem;
    background: #9953F0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* top: 1.1rem; */
    left: 0.3rem;
    border-radius: 5px;
    z-index: 101
}
.Popup-button{
background: #fff;
color: #9953F0;
line-height: 0.6rem;
font-size: 14px;
border-radius: 0.3rem;
height: 0.6rem;
margin-top: 0.1rem;
/* width: 1.8rem; */
}
.Popup-p{
    display: inline-block;
    color: #F8F8F8;
    font-size: 12px;
    line-height: 0.7rem;
    font-weight: bold
}
.MacInfo-Header{
    padding: 0.5rem 0
}
.icon2{
    width: 0.31rem;
    height: 0.21rem;
    margin-right: 1rem;
    margin-left: 0.3rem
}
.MacName{
    font-size: 18px;
    color: #101012;
    font-weight: bold;
    margin-bottom: 0.4rem
}
.BaoZhen{
    position: relative;
}
.zhenduan{
    color: #666666;
    font-size: 12px;
    display: inline-block;
    position: fixed;
    width: 1.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    right: 0;
    top: 1.5rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    border-radius: 13px 0 0 13px;
    z-index: 100;
    background: #fff
}
.baoyang{
    font-size: 12px;
    color: #666666;
    position: fixed;
    top: 2.2rem
}
.NUM{
    overflow: hidden;
    margin-bottom: 0.8rem;
}
.NUMS{
    width: 33%;
    float: left;
    text-align: center
}
.NUMname{
    color: #ccc;
    font-size: 12px;
    margin-bottom: 0.1rem
}
.NUMnum{
    font-size: 22px;
    font-weight: bold
}
.check{
    margin: 0 0.3rem;
    padding-top:0.4rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.checks{
    overflow: hidden;
}
.checkName{
    font-size: 14px;
    color: #101012;
    width: 60%;
    white-space:nowrap; 
    text-overflow:ellipsis;     
    overflow: hidden;
    display: inline-block 
}
.checkNum{
    font-size: 14px;
    color: #999999;
    float: right;
}
.checkchange{
    font-size: 14px;
    color: #999999;
    float: right;
}
.checkNums{
    margin-right: 0.4rem
}
.Good{
    border-top: #F1F1F1 solid 1px;
    padding-top: 0.4rem;
    margin-top: 0.4rem
}
.zheng{
    font-size: 14px;
    color: #101012;
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    background: #F1F1F1;
    border-radius: 15px;
    text-align: center;
    line-height: 0.6rem;
    margin-left: 1.2rem;
    margin-right: 0.6rem
}
.nzheng{
    font-size: 14px;
    color: #101012;
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    background: #F1F1F1;
    border-radius: 15px;
    text-align: center;
    line-height: 0.6rem;
}
.container{
    text-align: center;
    margin-top: 1.4rem
}
.NotCheckOverS{
    display: none;
}
.NotCheckOver{
    display: inline-block;
}
.CheckOverS{
    display: inline-block;
}
.CheckOver{
    display: none;
}
#checkchange1{
    
}
#checkchange0{
    color:#E95555
}
#myChart{
    padding-left:1.14rem;
    padding-right: 1.14rem;
    height: 3.2rem; 
}
#zr_0{
    height: 4rem;
}
.ivu-chart-circle-inner{
    color: #101012;
    font-size: 30px;
    font-weight: bold
}
.MacInfoMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.08rem;
    margin-left: 0.2rem;
}
</style>
