<template>
   <div class="login">
      <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
        </div>
    <div class="header">
        <div class="Header">请输入您短信接收到的</div>
        <div class="Header">验证码！</div>
    </div>
    <div class="phoneNum">
      <!-- <span class="Num">手机号码</span> -->
      <input class="num" type="num" style="outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);" >
      <input class="num" type="num" style="outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);" >
      <input class="num" type="num" style="outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);" >
      <input class="num" type="num" style="outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);" >
    </div>
    <router-link :to="'/xilieChoose'"><button class="yanzhengma">立即登陆</button></router-link>
  </div>
</template>

<script>
export default {
    name:"Yzheng",
    created(){

    },
    methods:{
        goBack(){
            this.$router.go(-1)
        }
    }
}
</script>


<style scoped>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.login{
    padding-left: 0.3rem;
}
.header{
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 0.8rem;
    padding-top: 0.5rem
}
.Header{
    font-size: 22px;
    color:#101012;
    text-align: left;
    line-height: 0.8rem;
    float: left;
    width: 10rem
}
.phoneNum{
    font-size: 20px;
    margin-bottom: 6.8rem;
    margin-left: 0.46rem;
    overflow: hidden;    
}
.Num{
    line-height: 0.9rem;
    margin-left: 0.4rem;
    padding-right: 0.3rem;
    border-right: 1px solid #101012;
    margin-right: 0.3rem;
    text-align: center;
}
.num{
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
    border-radius: 50%;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #fff;
    float: left;
    border: 0;
    font-size: 20px;
    text-align: center
}
.yanzhengma{
    font-size: 15px;
    width: 6.9rem;
    height: 0.9rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border:none;
    border-radius: 0.45rem;
    color: #fff
}
</style>
