<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">技术人员</span>
        </div>
        <div class="MacChangeCenterSS ArtisanHeader">
            <img src="../../assets/icon-find.png" class="ArtisanSearch">
            <input type="text" placeholder="搜索" v-model="WorkPeople">
        </div>
        <div class="MacChangeCenterSS" v-for="(item,index) in ArtisanList" :key="index" @click="ChooseArtisan(item.id,item.name)">
            <div class="ArtisanLeft">
                <img v-if="!item.avatar_url" src="../../assets/221543839474_.pic.jpg" class="ArtisanTouxiang">
                <img v-if="item.avatar_url" :src="item.avatar_url" class="ArtisanTouxiang">
                <!-- <img :src="item" class="ArtisanTouxiang"> -->
                <div class="ArtisanCenter">
                    <p class="ArtisanName">{{item.name}}</p>
                    <p class="ArtisanWhich">{{item.position}}</p>
                </div>
            </div>
            <span class="ArtisanRight">{{item.tel}}</span>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'Artisan',
    data(){
        return {
            BigImageOpen:false,
            Lingpeijain:[],
            MacChangeText:'',
            MacChangeInfo:{},
            ShowPhotoView:false,
            MacChangeImagesList:[],
            MacChangeImageListKeys:[],
            ArtisanList:[],
            WorkPeople:''
        }
    },
    created(){
        this.getAllMyMac()
    },
    watch:{
        WorkPeople(n,o){
            this.Search(n)
        }
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/o/workers',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response.data.data)
                this.ArtisanList = response.data.data
            })
        },
        ChooseArtisan(value,Name){
            sessionStorage.setItem('ArtisanId',JSON.stringify(value))
            sessionStorage.setItem('ArtisanName',JSON.stringify(Name))
            this.$router.go(-1)
        },
        Search(value){
            this.$axios.get(API+'/api/v1/o/workers',{params:{
                'keyword':value
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response.data.data)
                this.ArtisanList = response.data.data
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}

.MacChangeSends{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 0.46rem;
    position: fixed;
    bottom: 2.86rem;
    left: 0.3rem;
}
.MacChangeCenters{
    margin: 0 0.3rem;
    padding: 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-bottom: 0.3rem
}
.MacChangeCenterSS{
    margin: 0 0.3rem;
    padding: 0.3rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #101012;
    font-size: 15px;
    overflow: hidden;
    border-radius: 0.1rem;
    margin-bottom: 0.3rem
}
.MacChangeCenterText{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: #F1F1F1 solid 1px;
    outline: none;
    color: #101012;
    font-size: 14px;
    /* font-weight: bold */
}
.MacChangeImages{
    width: 1.48rem;
    height: 1.48rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem
}
.MacBaoyangMores{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.1rem;
}
.ArtisanHeader{
    border-radius: 0.46rem;
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem
}
.ArtisanSearch{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-top: 0.04rem;
    margin-right: 0.1rem
}
.ArtisanLeft{
    float: left;
    overflow: hidden;
}
.ArtisanRight{
    float: right;
    color: #101012;
    margin-top: 0.2rem
}
.ArtisanTouxiang{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin-right: 0.32rem;
    border-radius: 50%
}
.ArtisanCenter{
    float: left;
}
.ArtisanName{
    color: #101012;
    font-size: 15px
}
.ArtisanWhich{
    color: #999999;
    font-size: 12px
}
</style>
