<template>
    <div style="position:relative;padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">我的订单-{{DingdanTypeName}}</span>
            <img src="../../assets/icon-nav-filter.png" v-if="DingdanPopup" class="DingdanInfo-icon2" @click.stop @click="dingdanPopup">
            <img src="../../assets/icon-nav-filter-on.png" v-if="!DingdanPopup" class="DingdanInfo-icon2" @click.stop @click="dingdanPopup">
        </div>
            <!-- <Navbar></Navbar> -->
            <Nav></Nav>
            <swiper></swiper>
        <div class="Dingdan-Popup" style="z-index:10000" @click.stop v-if="!DingdanPopup">
            <p class="Dingdan-p" @click="DingdanType4">全部</p>
            <!-- <p class="Dingdan-p" @click="DingdanType0">待处理</p> -->
            <p class="Dingdan-p" @click="DingdanType1">沟通中</p>
            <p class="Dingdan-p" @click="DingdanType2">处理中</p>
            <p class="Dingdan-p" @click="DingdanType3">已结束</p>
        </div>
        <!-- <router-view></router-view> -->
    </div>
</template>

<script>
import Loading from 'muse-ui-loading'
import 'muse-ui-loading/dist/muse-ui-loading.css'
import Nav from './../Swiper/Nav'
import swiper from './../Swiper/swiper'
import Navbar from './../Navbar/Navbar'
import MyNavbar from './../MyNavbar/Navbar'
import {mapMutations} from 'vuex'
export default {
    name:'Dingdan',
    components:{
        Navbar,MyNavbar,Nav,swiper
    },
    created(){
        if(JSON.parse(sessionStorage.getItem('DingdanTypeName'))){
            this.DingdanTypeName = JSON.parse(sessionStorage.getItem('DingdanTypeName'))
        }
    },
    data(){
        return {
            DingdanPopup:'false',
            DingdanTypeName:'全部',
            loading1: false,
            loading2: false
        }
    },
    mounted(){
        document.addEventListener('click',(e)=>{
            if(e.target.className != 'Dingdan-Popup' && e.target.className != 'DingdanInfo-icon2'){
                this.DingdanPopup = true
            }
        })
    },
    methods:{
        ...mapMutations({
            setDingdanType:'SET_DINGDANTYPE'
        }),
        dingdanPopup(){
            this.DingdanPopup = !this.DingdanPopup
        },
        DingdanType0(){
            this.setDingdanType('pending')
            sessionStorage.setItem("DingdanType",JSON.stringify('pending'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('待处理'))
            this.DingdanTypeName = '待处理'
            // this.$router.go(0)
            // location.reload()
        },
        DingdanType1(){
            this.setDingdanType('touching')
            sessionStorage.setItem("DingdanType",JSON.stringify('touching'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('沟通中'))
            this.DingdanTypeName = '沟通中'
            // this.$router.go(0)
        },
        DingdanType2(){
            this.setDingdanType('handling')
            sessionStorage.setItem("DingdanType",JSON.stringify('handling'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('处理中'))
            this.DingdanTypeName = '处理中'
            // this.$router.go(0)
        },
        DingdanType3(){
            this.setDingdanType('finished')
            sessionStorage.setItem("DingdanType",JSON.stringify('finished'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('已结束'))
            this.DingdanTypeName = '已结束'
            // this.$router.go(0)
        },
        DingdanType4(){
            this.setDingdanType('all')
            sessionStorage.setItem("DingdanType",JSON.stringify('all'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('全部'))
            this.DingdanTypeName = '全部'
            // this.$router.go(0)
        },
        goBack(){
            this.$router.push('/MyMac/DingdanRoom/MineAll')
        }
    }
}
</script>

<style>
.Dingdan-Header{
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding: 0.5rem 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.Dingdan-titles{
    float: none;
}


.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.icon3{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.Dingdan-Popup{
    background: #9953F0;
    width: 2.4rem;
    height:4rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0.3rem;
    top: 1.1rem
}
.Dingdan-p{
    color: #F8F8F8;
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
}
</style>
