<template>
    <div style="padding-top:1.6rem;padding-bottom:2rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单详情-{{DingdanInfo.state_name}}</span>
            <!-- <img src="../../assets/icon-nav-share.png" class="DingdanInfo-icon2"> -->
            <span class="DingdanInfoTwo" @click="checkMacInfo">查看设备</span>
        </div>
        <div class="DingdanInfoFirst">
            <div class="Dingdan-name">
                <span class="Dingdan-nameleft">{{DingdanInfo.product_name}}</span>
                <span class="Dingdan-nameright">{{DingdanInfo.type_name}}</span>
            </div>
            <div class="Dingdan-type">
                <div class="Dingdan-type-one">
                    <img src="../../assets/icon-notes-1.png" class="Dingdan-icon3">
                    <span class="Dingdan-type-two">{{DingdanInfo.model}}</span>
                </div>
                <div class="Dingdan-type-one">
                    <img src="../../assets/icon-notes-4.png" class="Dingdan-icon3">
                    <span class="Dingdan-type-two">{{DingdanInfo.created_at}}</span>
                </div>
                <!-- <div class="Dingdan-type-one">
                    <img src="../../assets/icon-notes-5.png" class="Dingdan-icon3">
                    <span class="Dingdan-type-two">250kg</span>
                </div> -->
            </div>
            <p class="DingdanInfoCompany">公司：{{DingdanInfo.company_name}}</p>
            <p class="DingdanInfoCompany DingdanInfoCompanys" >地址：{{DingdanInfo.address}}</p>
        </div>
        <p class="Dingdan-product">{{DingdanInfo.remark}}</p>
        <div class="Dingdan-imgs" >
            <img v-for="(item,index) in DingdanImgs" :key="index" v-bind:src="item.url" class="Dingdan-img" @click="BigImage(index)" :class="(index+1)%3 == 0 ? 'Dingdan-imgNone':''" v-if="item.type == 'image'">
            <video width="320" height="240" controls v-bind:poster="item.thumb_url" class="Dingdan-img" v-if="item.type == 'video'" v-for="(item,Index) in DingdanImgs" :key="Index">
                <source v-bind:src="item.url" type="video/mp4">
            </video>
        </div>
        <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.4rem">联系人</p>
        <div class="Dingdan-people" style="margin-bottom: 0.3rem" >
                <span class="Dingdan-peopelname">联系人：{{DingdanInfo.contact}}</span>
                <span class="Dingdan-peoplephone">{{DingdanInfo.tel}}</span>
            </div>
        <!-- <div class="Dingdan-people" v-if="DingdanInfo.state=='pending'">
            <span class="Dingdan-peopelname">暂时没有售后人员服务</span>
        </div> -->
        <!-- <div class="DingdanInfoCenters">
            <p class="DingdanInfoTitle">售后总结</p>
            <div class="Dingdan-people">
                <p class="DingdanInfoTitleTime">2018.09.26 12:56</p>
                <p class="DingdanInfoTitleCenter">这个机器存在很多问题，需要更专业的人解决，磨损相对严重，有些地方不灵了。 </p>
            </div>
        </div> -->
        <div class="DingdanInfoCenters" v-if="DingdanInfo.has_remark">
            <p class="DingdanInfoTitle">我的总结</p>
            <div class="Dingdan-people">
                <p class="DingdanInfoTitleTime">{{DingdanInfo.staff_at}}</p>
                <p class="DingdanInfoTitleCenter">{{DingdanInfo.staff_remark}}</p>
            </div>
        </div>
        <div class="DingdanInfoCenters" v-if="DingdanInfo.has_comment">
            <p class="DingdanInfoTitle">客户评价</p>
            <div class="Dingdan-people">
                <div style="margin-bottom:0.2rem">
                    <span class="DingdanInfoTitleTime">{{DingdanInfo.comment_at}}</span>
                    <div style="float:right;margin-left:0.1rem" class="Starts" >
                        <span v-for="(item,index) in StartNum" :key='index' :class="isRating(index)" :data-index="index"></span>
                    </div>
                </div>
                <p class="DingdanInfoTitleCenter">{{DingdanInfo.comment}}</p>
            </div>
        </div>
        <div v-if="DingdanHistories.length>0">
            <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.2rem">求助记录</p>
            <div class="Dingdan-baoyang">
                <div class="Dingdan-baoyang-header">
                    <img src="../../assets/icon-notes-time.png" class="Dingdan-icon4">
                    <span class="Dingdan-baoyang-date">{{DingdanHistories[0].date}}</span>
                    <span class="Dingdan-baoyang-type">{{DingdanHistories[0].type_name}}</span>
                </div>
                <div class="Dingdan-baoyang-center">
                    <p class="Dingdan-baoyang-one">{{DingdanHistories[0].user_remark}}</p>
                    <p class="Dingdan-baoyang-people">处理师傅：{{DingdanHistories[0].staff_name}}</p>
                    <p class="Dingdan-baoyang-two">{{DingdanHistories[0].staff_remark}}</p>
                </div>
            </div>
            <div class="Dingdan-baoyang" v-if="showMore && index !== 0" v-for="(item,index) in DingdanHistories" :key="index" >
                <div class="Dingdan-baoyang-header">
                    <img src="../../assets/icon-notes-time.png" class="Dingdan-icon4">
                    <span class="Dingdan-baoyang-date">{{item.date}}</span>
                    <span class="Dingdan-baoyang-type">{{item.type_name}}</span>
                </div>
                <div class="Dingdan-baoyang-center">
                    <p class="Dingdan-baoyang-one">{{item.user_remark}}</p>
                    <p class="Dingdan-baoyang-people">处理师傅：{{item.staff_name}}</p>
                    <p class="Dingdan-baoyang-two">{{item.staff_remark}}</p>
                </div>
            </div>
        </div>
        <div class="Dingdan-more" @click="showmore" v-if="!showMore && DingdanHistories.length>1">
            <img src="../../assets/icon-more4.png" class="Dingdan-moreicon">
            <span class="Dingdan-zhankai">展开</span>
        </div>
        <div class="Dingdan-Foot" v-if="DingdanInfo.state == 'pending'"> 
            <div class="Dingdan-goutong" @click="getThisOrders">确认处理</div>
        </div>
        <div class="Dingdan-Foot" v-if="DingdanInfo.state !== 'pending'"> 
            <div class="Dingdan-goutong" @click="gotoSpeaker">填写订单总结</div>
        </div>
        <div class="IMChat" v-if="DingdanInfo.state !== 'pending'" @click="gotoIMChat(DingdanInfo.id)">
            <img src="../../assets/icon-chart.png" class="NewsIcon">
        </div>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
import BigImage from '../../common/BigImage'
export default {
    name:'DingdanInfo',
    components:{
        BigImage
    },
    data(){
        return {
            BigImageOpen:false,
            showMore:false,
            DingdanImgs:[],
            DingdanInfo:{},
            DingdanContacts:[],
            DingdanHistories:[],
            DingdanHistoriesMore:[],
            StartNum:'5',
            AllOrMineAll:false
        }
    },
    created(){
        this.getLingpeijianDingdan()
    },
    methods:{
        gotoIMChat(value){
            this.$axios.post(API+'/api/v1/o/start_chat',{
                "order_id":value
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.$router.push('/IMChat/'+response.data.chat_id)
            })
        },
        isRating(index){
            ++index
            return index <= this.rating ? 'star-item star-active' : 'star-item'
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.DingdanImgs[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        goBack(){
            // this.$router.go(-1)
            if(this.AllOrMineAll){
                this.$router.push('/MyMac/DingdanRoom/MineAll')
            }else{
                this.$router.push('/MyMac/Dingdan/All')
            }
        },
        showmore(){
            this.showMore = !this.showMore
        },
        gotoSpeaker(){
            this.$router.push('/WriteSummary/'+this.$route.params.id)
        },
        getLingpeijianDingdan(){
            this.$axios.get(API+'/api/v1/o/order_info',{params:{
                "order_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.state == "pending"){
                    this.AllOrMineAll == true
                }
                this.DingdanInfo = response.data.data
                this.DingdanImgs = this.DingdanInfo.pics
                this.DingdanContacts = this.DingdanInfo.contacts
                this.DingdanHistories = this.DingdanInfo.histories
                // this.DingdanHistories = this.DingdanInfo.histories.splice(1,1)
                // this.DingdanHistoriesMore = this.DingdanInfo.histories
                if(this.DingdanHistories.length>1){
                    this.DingdanHistoriesMore = this.DingdanHistories.splice(0,1)
                }
                this.StartNum = response.data.data.rate
                sessionStorage.setItem('DingdanProduct_id',JSON.stringify(response.data.data.product_id))
            })
        },
        checkMacInfo(){
            sessionStorage.setItem('CC',JSON.stringify(this.$route.params.id))
            // sessionStorage.setItem('DingdanType',JSON.stringify('NoBuy'))
            this.$router.push('/DingdanMacInfo/standard')
        },
        getThisOrders(){
            this.$axios.post(API+'/api/v1/o/accept_order',{
                "order_id":this.$route.params.id
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    // alert('接单成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('接单成功');
                    this.$router.push('/MyMac/DingdanRoom/MineAll')
                }
            })
        },
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.DingdanInfoTwo{
    float: right;
    margin-top: 0.05rem;
    color: #CCCCCC;
    font-size: 14px
}
.Dingdan-name{
    overflow: hidden;
    margin: 0 0.3rem;
    margin-bottom: 0.3rem
}
.Dingdan-nameleft{
    color: #101012;
    font-size: 18px;
    font-weight: bold
}
.Dingdan-nameright{
color: #999999;
font-size: 12px;
font-weight: bold;
float: right
}
.Dingdan-type{
    margin: 0 0.3rem;
    overflow: hidden;
    margin-bottom: 0.2rem
}
.Dingdan-type-one{
    float: left;
    margin-right: 0.3rem
}
.Dingdan-icon3{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-right: 0.1rem;
}
.Dingdan-type-two{
    font-size: 11px;
    color: #CCCCCC;
    line-height: 0.2rem
}
.Dingdan-product{
    color: #101012;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 0.5rem;
    margin:0 0.3rem;
    margin-bottom: 0.3rem
}
.Dingdan-imgs{
    margin: 0 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Dingdan-img{
    width: 2.1rem;
    height: 2.1rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.Dingdan-imgNone{
    margin-right: 0
}
.Dingdan-people{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    overflow: hidden;
    padding: 0.3rem 0.2rem;
    margin-bottom: 0.3rem
}

.Dingdan-peopelname{
    color: #666666;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bold
}
.Dingdan-peoplephone{
    color: #101012;
    font-size: 15px;
    float: right;
    font-weight: bold;
    line-height: 0.7rem;
    margin-right: 0.2rem
}
.Dingdan-baoyang{
    margin: 0 0.3rem;
    border-top: solid 1px #F1F1F1;
    padding: 0.4rem 0
}
.Dingdan-icon4{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
}
.Dingdan-baoyang-header{
margin-bottom: 0.2rem
}
.Dingdan-baoyang-date{
    color: #101012;
    font-size: 12px;
    margin-right: 0.3rem;
    font-weight: bold
}
.Dingdan-baoyang-type{
    color: #101012;
    font-size: 12px;
    font-weight: bold
}
.Dingdan-baoyang-center{
    margin-left: 0.5rem
}
.Dingdan-baoyang-one{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5rem;
    margin-bottom: 0.1rem
}
.Dingdan-baoyang-people{
    color: #999999;
    font-size: 12px;
    line-height: 0.5rem
}
.Dingdan-baoyang-two{
    color: #666666;
    font-size: 12px;
    font-weight: 400
}
.Dingdan-Foot{
    width: 100%;
    padding: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff
}
.Dingdan-goutong{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.5rem;
}
.Dingdan-more{
    /* margin-bottom: 2rem; */
    text-align: center
}
.Dingdan-moreicon{
    width: 0.24rem;
    height: 0.14rem;
    margin-right: 0.1rem;
}
.Dingdan-zhankai{
    color: #CCCCCC;
    font-size: 12px
}
.DingdanInfoCompany{
    color: #666666;
    font-size: 12px;
    margin-left: 0.3rem
}
.DingdanInfoCompanys{
    border-bottom: 1px solid #F1F1F1;
    margin-top: 0.1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    color: #999999
}
.DingdanInfoTitle{
    color:#999999;
    font-size:12px;
    margin-left:0.3rem;
    margin-bottom:0.2rem
}
.DingdanInfoTitleTime{
    color: #999999;
    font-size: 12px;
    margin-bottom: 0.2rem
}
.DingdanInfoTitleCenter{
    color: #101012;
    font-size: 14px
}
.DingdanInfoCenters{
    margin-bottom: 0.4rem
}
.Starts{
    display: flex;
    align-items: center;
    justify-content: center
}
.star-item{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.12rem;
    background: no-repeat;
    display: inline-block;
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.star-active{
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.IMChat{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow:1px 1px 15px rgba(153, 83, 240, 0.4); 
    position: fixed;
    right: 0.3rem;
    bottom: 1.9rem;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1rem;
}
.NewsIcon{
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.3rem;
    margin-left: 0.05rem
}
.DingdanInfoCenters1{
    margin-top: 0.5rem;
}
.Dingdan-people1{
    padding: 0.32rem 0.2rem;
}
.Dingdan-people1 span{
    font-size: 15px;
    color: #101012;
}
.DingdanInfoPeopleRight{
    float: right;
    font-weight: 800;
}
</style>
