<template>
    <div style="position:relative;padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header">
            <img src="../../assets/icon-find.png" @click="SearchOrders" class="DingdanInfo-icon1-search">
            <span class="Dingdan-title">订单大厅</span>
            <span class="DingdanRoomMy" @click="gotoMyOrders">我的订单</span>
        </div>
            <!-- <MyNavbar></MyNavbar>
        <router-view></router-view> -->
        <Nav></Nav>
        <swiper></swiper>
    </div>
</template>

<script>
import Nav from './../MineSwiper/Nav'
import swiper from './../MineSwiper/swiper'
import MyNavbar from './../MyNavbar/Navbar'
import {mapMutations} from 'vuex'
export default {
    name:'Dingdan',
    components:{
        MyNavbar,Nav,swiper
    },
    data(){
        return {

        }
    },
    mounted(){
        document.addEventListener('click',(e)=>{
            if(e.target.className != 'Dingdan-Popup' && e.target.className != 'DingdanInfo-icon2'){
                this.DingdanPopup = true
            }
        })
    },
    methods:{
        ...mapMutations({
            setDingdanType:'SET_DINGDANTYPE'
        }),
        gotoMyOrders(){
            this.$router.push('/MyMac/Dingdan/All')
        },
        SearchOrders(){
            this.$router.push('/SearchOrders/')
        }
    }
}
</script>

<style>
.Dingdan-Header{
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding: 0.5rem 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.Dingdan-titles{
    float: none;
}


.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1-search{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.icon3{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}

.DingdanRoomMy{
    float: right;
    margin-top: 0.05rem;
    color: #9953F0;
    font-size: 14px
}
</style>
