<template>
    <div style="padding:1.6rem 0;padding-bottom:2rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单详情-{{LingpeijianDingdanInfo.state_name}}</span>
            <span class="DingdanInfoTwo" @click="checkMacInfo">查看设备</span>
            <!-- <img src="../../assets/icon-nav-share.png" class="DingdanInfo-icon2"> -->
        </div>
        <div class="LingpeijianDingdan-name">
            <span class="LingpeijianDingdan-nameleft">{{LingpeijianDingdanInfo.product_name}}</span>
            <span class="LingpeijianDingdan-nameright">{{LingpeijianDingdanInfo.type_name}}</span>
        </div>
        <div class="LingpeijianDingdan-type">
            <div class="LingpeijianDingdan-type-one">
                <img src="../../assets/icon-notes-1.png" class="LingpeijianDingdan-icon3">
                <span class="LingpeijianDingdan-type-two">{{LingpeijianDingdanInfo.product_num}}</span>
            </div>
            <div class="LingpeijianDingdan-type-one">
                <img src="../../assets/icon-notes-4.png" class="LingpeijianDingdan-icon3">
                <span class="LingpeijianDingdan-type-two">{{LingpeijianDingdanInfo.created_at}}</span>
            </div>
            <!-- <div class="LingpeijianDingdan-type-one">
                <img src="../../assets/icon-notes-5.png" class="LingpeijianDingdan-icon3">
                <span class="LingpeijianDingdan-type-two">250kg</span>
            </div> -->
        </div>
        <div class="LingpeijianDingdanInfoCenter">
            <p class="LingpeijianDingdanInfoText">购买的零配件及数量</p>
            <div class="LingpeijianDingdanInfoName">
                <span class="LingpeijianDingdanInfoNUM" v-for="(item,index) in LingpeijianList" :key="index">{{item.name}}   {{item.qty}}</span>
            </div>
        </div>
        <p class="LingpeijianDingdan-product" v-if="LingpeijianDingdanInfo.remark">{{LingpeijianDingdanInfo.remark}}</p>
        <div class="LingpeijianDingdan-imgs" v-if="ImgUrlList.length>0">
            <img v-for="(item,index) in ImgUrlList" :key="index" v-bind:src="item.url" @click="BigImage(index)" class="LingpeijianDingdan-img" :class="(index+1)%3 == 0 ? 'LingpeijianDingdan-imgNone':''" v-if="item.type == 'image'">
            <video width="320" height="240" controls v-bind:poster="item.thumb_url" class="LingpeijianDingdan-img" v-if="item.type == 'video'" v-for="(item,Index) in ImgUrlList" :key="Index">
                <source v-bind:src="item.url" type="video/mp4">
            </video>
        </div>
        <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.3rem;margin-top:0.5rem">联系人</p>
        <div class="LingpeijianDingdan-people" >
            <span class="LingpeijianDingdan-peopelname">联系人：{{LingpeijianDingdanInfo.contact}}</span>
            <span class="LingpeijianDingdan-peoplephone">{{LingpeijianDingdanInfo.tel}}</span>
        </div>
        <div v-if="LingpeijianDingdanInfo.state!=='pending'" style="margin-bottom:0.8rem">
            <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-top:0.8rem;margin-bottom:0.3rem">零配件反馈情况</p>
            <div class="LingpeijianDingdanInfoCenterS" >
                <p class="LingpeijianDingdanInfoCenterSText">零配件单价</p>
                <div class="LingpeijianDingdanInfoCenterSHeader">
                    <div class="LingpeijianDingdanInfoCenterSNum" v-for="(item,index) in LingpeijianList" :key="index" >
                        <span class="LingpeijianDingdanInfoCenterSNamne">{{item.name}}</span>
                        <span class="LingpeijianDingdanInfoCenterSNUM" v-if="item.price">¥{{item.price}}</span>
                        <span class="LingpeijianDingdanInfoCenterSNUM" v-if="!item.price">未填写</span>
                    </div>
                </div>
                <div v-if="LingpeijianDingdanInfo.logistic_num">
                    <div class="LingpeijianDingdanInfoCenterFoot">
                        <p class="LingpeijianDingdanInfoCenterFootName">物流单号</p>
                        <span class="LingpeijianDingdanInfoCenterFootNUm">{{LingpeijianDingdanInfo.logistic_num}}</span>
                    </div>
                    <div class="LingpeijianDingdanInfoCenterFoot">
                        <p class="LingpeijianDingdanInfoCenterFootName">物流公司</p>
                        <span class="LingpeijianDingdanInfoCenterFootNUm">{{LingpeijianDingdanInfo.logistic_company}}</span>
                    </div>
                    <div class="LingpeijianDingdanInfoCenterFoot LingpeijianDingdanInfoCenterFootLast">
                        <p class="LingpeijianDingdanInfoCenterFootName">处理时间</p>
                        <span class="LingpeijianDingdanInfoCenterFootNUm">{{LingpeijianDingdanInfo.estimated_days}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="DingdanInfoCenters" v-if="LingpeijianDingdanInfo.has_comment">
            <p class="DingdanInfoTitle">客户评价</p>
            <div class="Dingdan-people">
                <div style="margin-bottom:0.2rem">
                    <span class="DingdanInfoTitleTime">{{LingpeijianDingdanInfo.comment_at}}</span>
                    <div style="float:right;margin-left:0.1rem" class="Starts" >
                        <span v-for="(item,index) in StartNum" :key='index' :class="isRating(index)" :data-index="index"></span>
                    </div>
                </div>
                <p class="DingdanInfoTitleCenter">{{LingpeijianDingdanInfo.comment}}</p>
            </div>
        </div>
        <div v-if="DingdanHistories.length>0">
            <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-top:0.8rem;margin-bottom:0.2rem">求助记录</p>
            <div class="Dingdan-baoyang">
                <div class="Dingdan-baoyang-header">
                    <img src="../../assets/icon-notes-time.png" class="Dingdan-icon4">
                    <span class="Dingdan-baoyang-date">{{DingdanHistories[0].date}}</span>
                    <span class="Dingdan-baoyang-type">{{DingdanHistories[0].type_name}}</span>
                </div>
                <div class="Dingdan-baoyang-center">
                    <p class="Dingdan-baoyang-one">{{DingdanHistories[0].user_remark}}</p>
                    <p class="Dingdan-baoyang-people">处理师傅：{{DingdanHistories[0].staff_name}}</p>
                    <p class="Dingdan-baoyang-two">{{DingdanHistories[0].staff_remark}}</p>
                </div>
            </div>
            <div class="Dingdan-baoyang" v-if="showMore && index !== 0" v-for="(item,index) in DingdanHistories" :key="index">
                <div class="Dingdan-baoyang-header">
                    <img src="../../assets/icon-notes-time.png" class="Dingdan-icon4">
                    <span class="Dingdan-baoyang-date">{{item.date}}</span>
                    <span class="Dingdan-baoyang-type">{{item.type_name}}</span>
                </div>
                <div class="Dingdan-baoyang-center">
                    <p class="Dingdan-baoyang-one">{{item.user_remark}}</p>
                    <p class="Dingdan-baoyang-people">处理师傅：{{item.staff_name}}</p>
                    <p class="Dingdan-baoyang-two">{{item.staff_remark}}</p>
                </div>
            </div>
        </div>
        <div class="Dingdan-more" @click="showmore" v-if="!showMore && DingdanHistories.length>1">
            <img src="../../assets/icon-more4.png" class="Dingdan-moreicon">
            <span class="Dingdan-zhankai">展开</span>
        </div>

        <!-- <div class="LingpeijianDingdanInfoCenterS" v-if="LingpeijianDingdanInfo.state=='pending'">
            <p class="NOLingpeijianDingdanInfoCenterSText">还未下单，请耐心等待</p>
        </div> -->

        <!-- <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state!=='pending'&&LingpeijianDingdanInfo.state!=='finished'">
            <div class="LingpeijianDingdan-goutong" @click="gotoSpeaker">立即沟通</div>
        </div>
        <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state=='finished'&&!LingpeijianDingdanInfo.has_comment">
            <div class="LingpeijianDingdan-goutong" @click="gotoPingjia">评价</div>
        </div>
        <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state=='finished'&&LingpeijianDingdanInfo.has_comment">
            <div class="LingpeijianDingdanED" @click="gotoPingjia">已评价</div>
        </div> -->
         <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state =='pending'">
            <div class="LingpeijianDingdan-goutong" @click="getThisOrders">确认处理</div>
        </div>
        <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state =='touching'">
            <div class="LingpeijianDingdan-goutong" @click="gotoPingjia">物流单号反馈</div>
        </div>
        <div class="Stock" @click="gotoStocks">
            <span>库存</span>
        </div>
        <div class="IMChat" v-if="LingpeijianDingdanInfo.state !== 'pending'" @click="gotoIMChat(LingpeijianDingdanInfo.id)">
            <img src="../../assets/icon-chart.png" class="NewsIcon">
        </div>

        <Logistics v-if="LogisticsOpen" :LogisticsOpen='LogisticsOpen' v-on:changeLogistics='changeLogistics'></Logistics>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
import BigImage from '../../common/BigImage'
import Logistics from '../../common/Logistics'
import {mapGetters,mapMutations} from 'vuex'
export default {
    name:'LingpeijianDingdanInfo',
    components:{Logistics,BigImage},
    data(){
        return {
            BigImageOpen:false,
            LingpeijianDingdanInfo:{},
            LingpeijianList:[],
            ImgUrlList:[],
            Lingpeijiancontacts:[],
            showMore:false,
            DingdanHistories:[],
            DingdanHistoriesMore:[],
            StartNum:5,
            LogisticsOpen:false,
        }
    },
    created(){
        this.getLingpeijianDingdan()
    },
    methods:{
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.ImgUrlList[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        ...mapMutations({
            setLingpeijianOrder:'SET_LINGPEIJIANORDER',
        }),
        gotoIMChat(value){
            this.$axios.post(API+'/api/v1/o/start_chat',{
                "order_id":value
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.$router.push('/IMChat/'+response.data.chat_id)
            })
        },
        isRating(index){
            ++index
            return index <= this.rating ? 'star-item star-active' : 'star-item'
        },
        goBack(){
            this.$router.go(-1)
        },
        showmore(){
            this.showMore = !this.showMore
        },
        getLingpeijianDingdan(){
            this.$axios.get(API+'/api/v1/o/order_info',{params:{
                "order_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response.data.data)
                this.setLingpeijianOrder(response.data.data)
                this.LingpeijianDingdanInfo = response.data.data
                this.ImgUrlList = this.LingpeijianDingdanInfo.pics
                this.LingpeijianList = this.LingpeijianDingdanInfo.items
                this.Lingpeijiancontacts = this.LingpeijianDingdanInfo.contacts
                this.DingdanHistories = this.LingpeijianDingdanInfo.histories
                this.StartNum = response.data.data.rate
                console.log(this.LingpeijianDingdanInfo)
                console.log(this.DingdanHistories)
                console.log(this.DingdanHistoriesMore)
            })
        },
        gotoSpeaker(){
            this.$router.push('/MyMac/Xiaoxi')
        },
        getThisOrders(){
            this.$axios.post(API+'/api/v1/o/accept_order',{
                "order_id":this.$route.params.id
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    // alert('接单成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('接单成功');
                    this.$router.push('/MyMac/DingdanRoom/MineAll')
                }
            })
        },
        gotoPingjia(){

            this.LogisticsOpen = true
        },
        checkMacInfo(){
            sessionStorage.setItem('CC',JSON.stringify(this.$route.params.id))
            // sessionStorage.setItem('DingdanType',JSON.stringify('Buy'))
            this.$router.push('/DingdanMacInfo/standard')
        },
        gotoStocks(){
            this.$router.push('/Stocks/'+this.$route.params.id)
        },
        changeLogistics(value){
            this.LogisticsOpen = value
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.LingpeijianDingdan-name{
    overflow: hidden;
    margin: 0 0.3rem;
    margin-bottom: 0.1rem
}
.LingpeijianDingdan-nameleft{
    color: #101012;
    font-size: 18px;
    font-weight: bold
}
.LingpeijianDingdan-nameright{
color: #999999;
font-size: 12px;
font-weight: bold;
float: right
}
.LingpeijianDingdan-type{
    margin: 0 0.3rem;
    overflow: hidden;
    margin-bottom: 0.2rem
}
.LingpeijianDingdan-type-one{
    float: left;
    margin-right: 0.3rem
}
.LingpeijianDingdan-icon3{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-right: 0.1rem;
}
.LingpeijianDingdan-type-two{
    font-size: 11px;
    color: #CCCCCC;
    line-height: 0.2rem
}
.LingpeijianDingdan-product{
    color: #101012;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 0.5rem;
    margin:0.3rem 0.3rem;
}
.LingpeijianDingdan-imgs{
    margin: 0 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.2rem
}
.LingpeijianDingdan-img{
    width: 2.1rem;
    height: 2.1rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.LingpeijianDingdan-imgNone{
    margin-right: 0
}
.LingpeijianDingdan-people{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    overflow: hidden;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.3rem
}
.LingpeijianDingdan-peopelname{
    color: #666666;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bold
}
.LingpeijianDingdan-peoplephone{
    color: #101012;
    font-size: 15px;
    float: right;
    font-weight: bold;
    line-height: 0.7rem;
    margin-right: 0.2rem
}
/* .LingpeijianDingdan-baoyang{
    margin: 0 0.3rem;
    border-top: solid 1px #F1F1F1;
    padding: 0.4rem 0
}
.LingpeijianDingdan-icon4{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.2rem
}
.LingpeijianDingdan-baoyang-header{
margin-bottom: 0.2rem
}
.LingpeijianDingdan-baoyang-date{
    color: #101012;
    font-size: 12px;
    margin-right: 0.3rem;
    font-weight: bold
}
.LingpeijianDingdan-baoyang-type{
    color: #101012;
    font-size: 12px;
    font-weight: bold
}
.LingpeijianDingdan-baoyang-center{
    margin-left: 0.44rem
}
.LingpeijianDingdan-baoyang-one{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5rem;
    margin-bottom: 0.1rem
}
.LingpeijianDingdan-baoyang-people{
    color: #999999;
    font-size: 12px;
    line-height: 0.5rem
}
.LingpeijianDingdan-baoyang-two{
    color: #666666;
    font-size: 12px;
    font-weight: 400
} */
.LingpeijianDingdan-Foot{
    width: 100%;
    padding: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff
}
.LingpeijianDingdan-goutong{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.5rem;
}
.LingpeijianDingdanED{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: #ccc;
    border-radius: 0.5rem;
}
.LingpeijianDingdan-more{
    margin-bottom: 2rem;
    text-align: center
}
.LingpeijianDingdan-moreicon{
    width: 0.24rem;
    height: 0.14rem;
    margin-right: 0.1rem;
}
.LingpeijianDingdan-zhankai{
    color: #CCCCCC;
    font-size: 12px
}
.LingpeijianDingdanInfoCenter{
    border-bottom: 1px solid #F1F1F1;
    margin: 0 0.3rem;
    padding-bottom: 0.2rem
}
.LingpeijianDingdanInfoText{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.3rem
}
.LingpeijianDingdanInfoName{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.LingpeijianDingdanInfoNUM{
    padding: 0.1rem 0.32rem;
    background: #F1F1F1;
    display: inline-block;
    text-align: center;
    border-radius: 0.26rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem ;
    color: #101012;
    font-size: 12px
}.LingpeijianDingdanInfoCenterS{
    padding: 0.2rem 0.2rem;
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.LingpeijianDingdanInfoCenterSText{
    color: #CCCCCC;
    font-size: 12px;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 0.2rem
}
.LingpeijianDingdanInfoCenterSHeader{
    /* padding-bottom: 0.2rem; */
    border-bottom: 1px solid #F1F1F1
}
.LingpeijianDingdanInfoCenterFoot{
    overflow: hidden;
    padding: 0.2rem 0;
    border-bottom: 1px solid #F1F1F1;
}
.LingpeijianDingdanInfoCenterFootName{
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    float: left;
}
.LingpeijianDingdanInfoCenterFootNUm{
    float: right;
    color: #666666;
    font-weight: bold
}
.LingpeijianDingdanInfoCenterFootLast{
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 0.2rem
}
.LingpeijianDingdanInfoCenterSNum{
    overflow: hidden;
    margin-bottom: 0.15rem
}
.LingpeijianDingdanInfoCenterSNamne{
    color: #666666;
    font-weight: bold;
    font-size: 12px;
    float: left;
}
.LingpeijianDingdanInfoCenterSNUM{
    color: #F0895E;
    font-size: 12px;
    font-weight: bold;
    float: right;
}

.NOLingpeijianDingdanInfoCenterSText{
    color: #CCCCCC;
    font-size: 12px;
    margin: 0.2rem 0
}
.DingdanInfoTwo{
    float: right;
    margin-top: 0.05rem;
    color: #CCCCCC;
    font-size: 14px
}
.Dingdan-baoyang{
    margin: 0 0.3rem;
    border-top: solid 1px #F1F1F1;
    padding: 0.4rem 0
}
.Dingdan-icon4{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.2rem
}
.Dingdan-baoyang-header{
margin-bottom: 0.2rem
}
.Dingdan-baoyang-date{
    color: #101012;
    font-size: 12px;
    margin-right: 0.3rem;
    font-weight: bold
}
.Dingdan-baoyang-type{
    color: #101012;
    font-size: 12px;
    font-weight: bold
}
.Dingdan-baoyang-center{
    margin-left: 0.44rem
}
.Dingdan-baoyang-one{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5rem;
    margin-bottom: 0.1rem
}
.Dingdan-baoyang-people{
    color: #999999;
    font-size: 12px;
    line-height: 0.5rem
}
.Dingdan-baoyang-two{
    color: #666666;
    font-size: 12px;
    font-weight: 400
}
.Dingdan-more{
    /* margin-bottom: 2rem; */
    text-align: center
}
.Dingdan-moreicon{
    width: 0.24rem;
    height: 0.14rem;
    margin-right: 0.1rem;
}
.Dingdan-zhankai{
    color: #CCCCCC;
    font-size: 12px
}
.Dingdan-people{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    overflow: hidden;
    padding: 0.3rem 0.2rem;
    margin-bottom: 0.3rem
}
.DingdanInfoCompany{
    color: #666666;
    font-size: 12px;
    margin-left: 0.3rem
}
.DingdanInfoCompanys{
    border-bottom: 1px solid #F1F1F1;
    margin-top: 0.1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    color: #999999
}
.DingdanInfoTitle{
    color:#999999;
    font-size:12px;
    margin-left:0.3rem;
    margin-bottom:0.2rem
}
.DingdanInfoTitleTime{
    color: #999999;
    font-size: 12px;
    margin-bottom: 0.2rem
}
.DingdanInfoTitleCenter{
    color: #101012;
    font-size: 14px
}
.DingdanInfoCenters{
    margin-bottom: 0.4rem
}
.Starts{
    display: flex;
    align-items: center;
    justify-content: center
}
.star-item{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.12rem;
    background: no-repeat;
    display: inline-block;
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.star-active{
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.Stock{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow:1px 1px 15px rgba(34, 24, 21, 0.2); 
    text-align: center;
    line-height: 1rem;
    color: #101012;
    font-size: 12px;
    position: fixed;
    right: 0.3rem;
    bottom: 3.7rem;
    background: rgba(255, 255, 255, 0.8)
}
.IMChat{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow:1px 1px 15px rgba(153, 83, 240, 0.4); 
    position: fixed;
    right: 0.3rem;
    bottom: 1.9rem;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1rem;
}
.NewsIcon{
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.3rem;
    margin-left: 0.05rem
}
.DingdanInfoCenters1{
    margin-top: 0.5rem;
}
.Dingdan-people1{
    padding: 0.32rem 0.2rem;
}
.Dingdan-people1 span{
    font-size: 15px;
    color: #666;
}
.DingdanInfoPeopleRight{
    float: right;
    font-weight: 800;
    color: #101012;
}
</style>
