<template>
    <div style="position:relative;padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">搜索订单</span>
        </div>
        <div class="SearchOrders-headers">
            <img src="../../assets/icon-find.png" class="ChooseLingpeijianIcon">
            <input type="text" v-model="SearchOrdersCenter" class="SearchOrders-headers-input" placeholder="请输入设备名称">
        </div>

        <div v-if="OrderList.length>0">
            <div class="All-Box" @click="gotoDingdanInfo(index)" v-for="(item,index) in OrderList" :key="index" v-if="item.type !== 'buy'">
            <div class="All-Header">
                    <img src="../../assets/icon-equip.png" class="All-icon1">
                    <span class="All-Header-Name">{{item.product_name}}</span>
                    <span class="All-Header-type">{{item.type_name}}</span>
                </div>
                <div class="All-Center">
                    <p class="All-Center-product">{{item.remark}}</p>
                    <div class="All-Center-Foot">
                        <div class="all-Center-Left">
                            <img src="../../assets/icon-notes-1.png" class="All-icon2">
                            <span class="All-Center-right">{{item.model}}</span>
                        </div>
                        <div class="all-Center-Left">
                            <img src="../../assets/icon-notes-2.png" class="All-icon2">
                            <span class="All-Center-right">{{item.pic_count}}</span>
                        </div>
                        <div class="all-Center-Left">
                            <img src="../../assets/icon-notes-3.png" class="All-icon2">
                            <span class="All-Center-right">{{item.vid_count}}</span>
                        </div>
                        <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
                    </div>
                </div>
                <div class="All-Foot">
                    <div v-if="!item.has_comment" style="float:left">
                        <span class="All-Foot-one">{{item.company_name}}：</span>
                        <span class="All-Foot-two">{{item.contact}}</span>
                        <span class="All-Foot-three">{{item.tel}}</span>
                    </div>
                    <div v-if="item.has_comment" style="float:left">
                        <span class="All-Foot-three">客户评价:
                            <div style="float:right;margin-left:0.1rem" class="Starts" >
                                <span v-for="(item,index) in item.rate" :key='index' :class="isRating(index)" :data-index="index"></span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="All-Foots">
                        <div v-if="item.state !== 'finished' && item.state !== 'cancelled'" style="float:left;margin-top: 0.3rem;">
                            <span class="All-Foot-one">发布时间：</span>
                            <span class="All-Foot-three">{{item.created_at}}</span>
                        </div>
                        <div v-if="item.state == 'finished'" style="float:left;margin-top: 0.3rem;">
                            <span class="All-Foot-one">结束时间：</span>
                            <span class="All-Foot-three">{{item.finished_at}}</span>
                        </div>
                    </div>
            </div>
        </div>
        <div v-if="OrderList.length == 0"  style="margin-top:1.2rem">
            <img src="../../assets/icon-blank-order.png" class="WithoutPhoto">
            <p class="WithoutDingdan">暂无订单发布</p>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Navbar from './../Navbar/Navbar'
import {mapMutations} from 'vuex'
export default {
    name:'SearchOrders',
    components:{
        Navbar
    },
    data(){
        return {
            AllOrderList:[{
                state_name:'待处理'
            }],
            SearchOrdersCenter:'',
            OrderList:[]
        }
    },
    watch:{
        SearchOrdersCenter(n,o){
            this.$axios.get(API+'/api/v1/o/orders',{params:{
                "keyword":n
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.OrderList = response.data.data
                }else{
                    alert(response.data.msg)
                }
            })
        }
    },
    created(){
        this.getAllList()
    },
    methods:{
        ...mapMutations({
            setDingdanType:'SET_DINGDANTYPE'
        }),
        isRating(index){
            ++index
            return index <= this.rating ? 'star-item star-active' : 'star-item'
        },
        gotoDingdanInfo(value){
            var ID = this.OrderList[value].id
            this.$router.push('/DingdanInfo/'+ID)
        },
        goBack(){
            this.$router.push('/MyMac/DingdanRoom/MineAll')
        },
        StateNameClass(value){
            if(this.OrderList[value].state == 'pending'){
                return 'ONE'
            }else if(this.OrderList[value].state == 'finished'){
                return 'THREE'
            } else{
                return 'TWO'
            }
        },
        getAllList(){
            this.$axios.get(API+'/api/v1/o/orders',{params:{
                "keyword":''
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.OrderList = response.data.data
                }else{
                    alert(response.data.msg)
                }
            })
        }
    }
}
</script>

<style>
.Dingdan-Header{
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding: 0.5rem 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.Dingdan-titles{
    float: none;
}

.SearchOrders-headers{
    padding: 0.2rem 0.42rem;
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    border-radius: 0.46rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem
}
.SearchOrders-headers-input{
    width: 90%;
    font-size: 15px
}

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.icon3{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}

.Dingdan-p{
    color: #F8F8F8;
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
}
.All-Box{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem
}
.All-Header{
    padding: 0.1rem 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden
}
.All-icon1{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
    margin-top: 0.18rem
}
.All-Foots{
    overflow: hidden;
    padding: 0rem 0.2rem;
    /* margin: 0 0.2rem; */
    margin: 0 0 0 0.2rem;
    padding-left: 0
}
.All-Header-Name{
    color: #101012;
    font-size: 15px;
    line-height: 0.7rem;
    float: left;
    font-weight: bold
}
.All-Header-type{
    color: #9953F0;
    line-height: 0.7rem;
    font-size: 12px;
    float: right;
}
.All-Center{
padding: 0.2rem
}
.All-Center-product{
    color: #101012;
    font-size: 12px;
    line-height: 0.4rem;
    float: left;
}
.All-Center-Foot{
    overflow: hidden;
    margin-top: 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0.1rem
}
.all-Center-Left{
    float: left;
    margin-right: 0.3rem;
    line-height: 0.35rem;
    color: #CCCCCC;
    font-size: 11px;
    overflow: hidden;
}
.All-icon2{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.1rem;
    float: left;
}
.All-Foot{
    overflow: hidden;
    padding:  0.2rem;
    margin-left: 0rem;
    border-bottom: 1px solid #F1F1F1;
    /* padding-bottom: 0.2rem;
    margin: 0 0.2rem;
    padding-left: 0 */
}
.All-Foot-one{
color: #666666;
font-size: 12px;
float: left;
}
.All-Foot-two{
color: #666666;
font-size: 12px;
/* float: right; */
margin-right: 0.1rem
}
.All-Foot-three{
color: #666666;
font-size: 12px;
/* float: right; */
}
.All-Foot-four{
    float: right;
    color: #E95555;
    font-size: 12px
}
.All-icon2{
    width: 0.3rem;
    height: 0.3rem;
}
.ONE{
    color: #E95555
}
.TWO{
    color: #85C93B
}
.THREE{
    color: #CCCCCC
}
.Starts{
    display: flex;
    align-items: center;
    justify-content: center
}
.star-item{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.12rem;
    background: no-repeat;
    display: inline-block;
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.star-active{
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.ChooseLingpeijianIcon{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-top: 0.04rem;
    margin-right: 0.1rem
}
.WithoutDingdan{
    text-align: center;
    font-size: 16px;
    color: #BBBBBB;
    /* font-weight: bold; */
    margin-top: 0.6rem;
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
</style>
