<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">库存</span>
        </div>
        <div class="StocksHeader">
            <p style="width:50%;float:left">零配件名称</p>
            <p style="width:40%;float:left">规格型号</p>
            <p style="width:10%;float:left">数量</p>
        </div>
        <div class="StocksHeaders" v-for="(item,index) in StocksList" :key="index">
            <p style="width:50%;float:left;">{{item.name}}</p>
            <p style="width:40%;float:left;">{{item.model}}</p>
            <p style="width:10%;float:left;text-align: center;">{{item.qty}}</p>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'Stocks',
    data(){
        return {
            StocksList:[]
        }
    },
    created(){
        this.getAllStocks()
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        getAllStocks(){
            this.$axios.get(API+'/api/v1/o/order_inventory',{params:{
                "order_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                this.StocksList = response.data.data
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.StocksHeader{
    padding: 0 0.3rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #F1F1F1;
    color: #CCCCCC;
    font-size: 12px;
    overflow: hidden;
}
.StocksHeaders{
    padding: 0 0.3rem;
    padding-top: 0.5rem;
    overflow: hidden;
    color: #101012
}
.Stocks p{
    display: inline-block;
}
.Stocks2{
    width: 16%;
    float: right;
    margin-left: 0.3rem;
    text-align: right;
}
.Stocks3{
    width: 20%;
    float: right;
    margin-left: 0.3rem;
    text-align: right;
}
</style>
