<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
        </div>
        <div style="text-align:center;margin-bottom:2rem">
            <img src="../../assets/icon-yes.png" class="SumSuccessIcon">
            <p class="SumSuccessText">总结提交成功！</p>
        </div>
        <div class="MacChangeSend SumSuccess" @click="gotoOtherOrders">看看其它任务</div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'SumSuccess',
    data(){
        return {
        }
    },
    methods:{
        goBack(){
            this.$router.go(-1)
            // this.$router.push('/DingdanInfo/'+this.$route.params.id)
        },
        gotoOtherOrders(){
            this.$router.push('/MyMac/DingdanRoom/MineAll')
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}

.MacChangeSend{
    margin-left: 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 0.46rem
}
.SumSuccess{
    background:#fff;
    color: #9953F0;
    border: 1px solid #9953F0
}
.SumSuccessIcon{
    width: 2rem;
    height: 2.38rem;
    margin-bottom: 0.6rem
}
.SumSuccessText{
    text-align: center;
    color: #101012;
    font-size: 15px
}
</style>
