<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单总结</span>
        </div>
        <div class="MacChangeCenters" style="padding-bottom:0">
            <textarea placeholder="输入订单总结" class="MacChangeCenterText" v-model="MacChangeText"></textarea>
            <div style="padding-top:0.2rem">
                <!-- <img v-bind:src="item.url" class="MacChangeImages" @click="BigImage(index)" v-for="(item,index) in MacChangeImagesList" :key="index"> -->
                <div v-for="(item,index) in MacChangeImagesList" :key="index" class="MacChangeImages ImagesBox">
                    <img src="../../assets/closeion.png" @click="Remove(index)" class="CloseBut">
                    <img v-bind:src="item.url" class="MacChangeImages" @click="BigImage(index)" >
                </div>
                <!-- <video width="320" height="240" controls class="MacChangeImage" v-for="(item,index) in MacChangeVideosList" :key="index" >
                    <source v-bind:src="item.url" type="video/mp4">
                </video> -->
                <div v-for="(item,index) in MacChangeVideosList" :key="index" class="MacChangeImages ImagesBox">
                    <img src="../../assets/closeion.png" @click="RemoveVideo(index)" class="CloseBut">
                    <video width="320" height="240" controls class="MacChangeImages"  >
                        <source v-bind:src="item.url" type="video/mp4">
                    </video>
                </div>
                <img src="../../assets/icon-img.png" class="MacChangeImages" @click="takePhoto">
            </div>
        </div>
        <div class="MacChangeCenterS" @click="gotoArtisan">
            <span style="float:left">移交给技术人员</span>
            <img src="../../assets/icon-more3.png" class="MacBaoyangMores">
            <span style="float:right;margin-right:0.3rem">{{WorkerName}}</span>
        </div>
        <div class="MacChangeSends" @click="fabuDingdan">提交总结</div>
        <PhotoView v-if="ShowPhotoView" :ShowPhotoView='ShowPhotoView' v-on:ClosePhotoView="ClosePhotoView" ></PhotoView>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import {mapGetters} from 'vuex'
import Toast from 'muse-ui-toast';
import PhotoView from '../../common/PhotoView'
import BigImage from '../../common/BigImage'
export default {
    name:'WriteSummary',
    computed:{
        ...mapGetters(['CeramPhoto'])
    },
    components:{PhotoView,BigImage},
    data(){
        return {
            BigImageOpen:false,
            Lingpeijain:[],
            MacChangeText:'',
            MacChangeInfo:{},
            ShowPhotoView:false,
            MacChangeImagesList:[],
            MacChangeVideosList:[],
            MacChangeImageListKeys:[],
            WorkerName:''
        }
    },
    created(){
        if(sessionStorage.getItem('ArtisanName')){
            this.WorkerName = JSON.parse(sessionStorage.getItem('ArtisanName'))
        }
        if(sessionStorage.getItem('OrderText')){
            this.MacChangeText = JSON.parse(sessionStorage.getItem('OrderText'))
        }
        console.log(JSON.parse(sessionStorage.getItem('ArtisanId')))
    },
    watch:{
        MacChangeText(n,o){
            sessionStorage.setItem('OrderText',JSON.stringify(n))
        }
    },
    methods:{
        Remove(index){
            this.MacChangeImagesList.splice(index,1)
        },
        RemoveVideo(index){
            this.MacChangeVideosList.splice(index,1)
        },
        gotoArtisan(){
            this.$router.push('/Artisan')
        },
        ClosePhotoView(PhotoViewBoxShow){
            console.log(PhotoViewBoxShow)
            // if(PhotoViewBoxShow.CemaraPhoto.length!==0 ){
            //     this.MacChangeImagesList.push(PhotoViewBoxShow.CemaraPhoto)
            // }
            if(PhotoViewBoxShow.type == 'image'){
                if(PhotoViewBoxShow.CemaraPhoto.length!==0 ){
                    this.MacChangeImagesList.push(PhotoViewBoxShow.CemaraPhoto)
                }
            }else if(PhotoViewBoxShow.type == 'video'){
                if(PhotoViewBoxShow.CemaraPhoto.length!==0 ){
                    this.MacChangeVideosList.push(PhotoViewBoxShow.CemaraPhoto)
                }
            }
            this.ShowPhotoView = PhotoViewBoxShow.PhotoViewBoxShow
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.MacChangeImagesList[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        goBack(){
            this.$router.go(-1)
        },
        takePhoto(){
            this.ShowPhotoView = true
        },
        fabuDingdan(){
            this.MacChangeVideosList.map(item => {
                this.MacChangeImageListKeys.push(item.key)
            })
            this.MacChangeImagesList.map(item => {
                this.MacChangeImageListKeys.push(item.key)
            })
            if(this.MacChangeText == ''){
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('请填写订单总结!');
                return
            }
            this.$axios.post(API+'/api/v1/o/confirm_order',{
                "order_id": this.$route.params.id,
                "worker_id":JSON.parse(sessionStorage.getItem('ArtisanId')),
                "remark":this.MacChangeText,
                "pic_keys":this.MacChangeImageListKeys
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.$router.push('/SumSuccess/'+this.$route.params.id)
                    sessionStorage.removeItem('OrderText')
                } else {
                    // alert('订单发布失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                }
            })
        }
    }
}
</script>

<style>
.CloseBut{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: -0.2rem;
    right: -0.2rem
}
.ImagesBox{
    float: left;
    position: relative;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}

.MacChangeSends{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 0.46rem;
    position: fixed;
    /* bottom: 2.86rem; */
    left: 0.3rem;
}
.MacChangeCenters{
    margin: 0 0.3rem;
    padding: 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-bottom: 0.3rem;
    border-radius: 0.1rem
}
.MacChangeCenterS{
    margin: 0 0.3rem;
    padding: 0.3rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #101012;
    font-size: 15px;
    overflow: hidden;
    border-radius: 0.1rem;
    margin-bottom: 3rem
}
.MacChangeCenterText{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: #F1F1F1 solid 1px;
    outline: none;
    color: #101012;
    font-size: 14px;
    /* font-weight: bold */
}
.MacChangeImages{
    width: 2.48rem;
    height: 2.48rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem
}
.MacChangeImage{
    width: 2.48rem;
    height: 2.48rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem
}
.MacBaoyangMores{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.1rem;
}
</style>
