<template>
    <div style="position:relative;padding:1.6rem 0;height:100%">
        <div class="DingdanInfo-Headers">
            <span class="Dingdan-titles">全部消息</span>
        </div>
        <div class="XiaoXi" @click="gotoXiTongNews(NewsList.platform.chat_id)" v-if="ChatLists">
            <div v-if="XiaoXiOne" class="RED"></div>
            <img src="../../assets/icon-infor-nootice.png" class="XiTongIcon">
            <div class="XiTongCenter">
                <p class="XiTongHeader">系统通知消息</p>
                <div class="XiTongFoot">
                    <p class="XiTongNeirong">{{NewsList.platform.last_msg}}</p>
                    <p class="XiTongTime">{{NewsList.platform.last_msg_at}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="XiaoXi" @click="gotoDingdanXiaoxi(NewsList.feedback.chat_id)" >
            <div v-if="XiaoXiTwo" class="RED"></div>
            <img src="../../assets/icon-infor-order.png" class="XiTongIcon">
            <div class="XiTongCenter">
                <p class="XiTongHeader">订单信息反馈</p>
                <div class="XiTongFoot">
                    <p class="XiTongNeirong">{{NewsList.feedback.last_msg}}</p>
                    <p class="XiTongTime">{{NewsList.feedback.last_msg_at}}</p>
                </div>
            </div>
        </div> -->
        <div v-if="ChatLists">
            <p class="NewXiaoXi" v-if="NewsList.chats.length>0">最近沟通</p>
            <div class="XiaoXi" @click="gotoIMPeople(item.id)" v-for="(item,index) in NewsList.chats" :key="index">
                <img src="../../assets/221543839474_.pic.jpg" class="XiTongIcon">
                <div class="XiTongCenter">
                    <div class="XiaoXiNeirong">
                        <p class="XiTongHeader" style="float:left">{{item.name}}</p>
                        <p class="XiTongTimes">{{item.last_msg_at}}</p>
                    </div>
                    <p class="XiTongFoot">{{item.last_msg}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import store from '@/store'
const NIM = require('../../sdk/NIM_Web_SDK_v5.8.0.js')

export default {
    name:'Xiaoxi',
    data(){
        return {
            MASG:'',
            id:100,
            NewsList:{},
            NewsTongzhiList:{},
            XiaoXiTwo:false,
            XiaoXiOne:false,
            ChatLists:false
        }
    },
    created(){
        this.getAllChats()
        // this.CheckYunxin()
        
    },
    methods:{
        //获取消息列表
        getAllChats(){
            this.$axios.get(API+'/api/v1/o/chats',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    this.ChatLists=true
                    console.log(response.data.data)
                    this.NewsList = response.data.data
                    if(localStorage.getItem('IM_Token')){
                        this.CheckYunxin()
                    }
                }
            })
        },
        //连接云信
        CheckYunxin(){
            var nim = SDK.NIM.getInstance({
                appKey:JSON.parse(localStorage.getItem('IM_Appkey')),
                account:JSON.parse(localStorage.getItem('IM_Account')),
                token:JSON.parse(localStorage.getItem('IM_Token')),
                onmsg:this.onMsg,//获取消息
                onconnect:this.onConnect
            })
            //本地历史消息
            nim.getLocalMsgs({
                sessionId: 'p2p-account',
                limit:100,
                done:this.getLocalMsgsDone,
                idClient:'d4a95513-0c05-4124-8385-70f24fefd322',
            })
            
        },
        // //发送文本消息
        // sendMAS(MASG){
        //     var nim = SDK.NIM.getInstance({
        //         appKey:'6cc39d38df67682dc853d197884ba8e5',
        //         account:'zhangsan',
        //         token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
        //     })
        //     //发送文本消息
        //     var msg = nim.sendText({
        //         scene: 'p2p',
        //         to:'zhangsi',
        //         text:this.MASG,
        //         done:this.sedMsgDone,
        //     })
        // },
        // //发送图片消息
        // sendImage(MASG){
        //     var nim = SDK.NIM.getInstance({
        //         appKey:'6cc39d38df67682dc853d197884ba8e5',
        //         account:'zhangsan',
        //         token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
        //     })
        //     //发送图片消息
        //     nim.sendFile({
        //         scene:'p2p',
        //         to:'zhangsi',
        //         fileInput:fileInput,
        //         type:'image',
        //         fastPass: '{"w":200,"h":110,"md5":"md5","url":"",}',
        //         uploaddone:this.uploaddone,
        //         beforesend:this.beforesend,
        //         done: this.sedMsgDone
        //     })
        // },
        uploaddone: function(error, file) {
            console.log(error);
            console.log(file);
            console.log('上传' + (!error?'成功':'失败'));
        },
        beforesend: function(msg) {
            console.log('正在发送p2p image消息, id=' + msg.idClient);
            pushMsg(msg);
        },
        onConnect(){
            console.log('链接成功')
        },
        onwillreconnect(obj){
            console.log("即将重练")
        },
        //发送消息
        sedMsgDone(error, msg){
            console.log(msg);
            console.log('发送' + msg.scene + ' ' + msg.type + '消息' + (!error?'成功':'失败') + ', id=' + msg.idClient);
        },
        //收到消息
        onMsg(msg){
            this.NewsTongzhiList = msg.lastMsg
            if(msg.lastMsg.custom.type == 'platform'){
                this.XiaoXiOne = true
            }else if(msg.lastMsg.custom.type == 'feedback'){
                this.XiaoXiTwo = true
            }
            console.log('收到消息', msg.scene, msg.type, msg.text);
            // pushMsg(msg);
        },
        //本地历史消息
        getLocalMsgsDone(error ,obj){
            console.log("获取本地消息"+(!error?'成功':'失败'), error, obj)
        },
        
        //
        
        //

        gotoXiTongNews(value){
            this.XiaoXiOne = false
            this.$router.push('/XiTongNews/'+value)
        },
        gotoDingdanXiaoxi(value){
            this.XiaoXiTwo = false
            this.$router.push('/DingdanXiaoxi/'+value)
        },
        gotoIMPeople(value){
            this.$router.push('/IMChat/'+value)
        }
    },
}
</script>

<style>
.DingdanInfo-Headers{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.Dingdan-titles{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.XiaoXi{
    margin: 0 0.3rem;
    padding:0.3rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    overflow: hidden;
    margin-bottom: 0.3rem
}
.XiTongIcon{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin-right: 0.2rem;
    border-radius: 50%
}
.XiTongCenter{
    float: left;
    width: 84%
}
.XiTongHeader{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
}
.XiTongFoot{
    overflow: hidden;
}
.XiTongNeirong{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.XiTongTime{
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}
.NewXiaoXi{
    color: #999999;
    font-size: 12px;
    margin: 0.3rem;
    padding-top: 0.3rem
}
.XiaoXiNeirong{
    overflow: hidden;
}
.XiTongTimes{
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}
.XiTongFoot{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}
.RED{
    background: red;
    width: 6px;
	height: 6px;
	border-radius: 50%;
	position: fixed;
    right: 7%
}
</style>
