<template>
  <div id="app">
     <div class="NewMsgsChange" v-if="ChangeNewsMsg"></div>
    <!-- <router-view/> -->
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import {mapMutations,mapGetters} from 'vuex'
const NIM = require('./sdk/NIM_Web_SDK_v5.8.0.js')
export default {
  name: 'App',
  data(){
    return {
      ChangeNewsMsg:false
    }
  },
  created(){
    if(localStorage.getItem('IM_Token')){
      this.CheckIM()
    }
  },
  computed:{
        ...mapGetters([
            "NewsMsgs"
        ])
    },
  updated() {
        window.scroll(0, 0);
  },
  watch:{
    NewsMsgs(n,o){
      console.log(n)
      this.ChangeNewsMsg = false
      this.setNewsMsgs(true)
    }
  },
  methods:{
    ...mapMutations({
      setUserinfo: 'SET_USERINFO',
      setNewsMsgs: 'SET_NEWSMSGS',
    }),
    CheckIM(){
      var nim = SDK.NIM.getInstance({
        appKey:JSON.parse(localStorage.getItem('IM_Appkey')),
        account:JSON.parse(localStorage.getItem('IM_Account')),
        token:JSON.parse(localStorage.getItem('IM_Token')),
        //  appKey:'6cc39d38df67682dc853d197884ba8e5',
        //  account:'zhangsan',
        //  token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
        onconnect:this.onConnect,
        onmsg:this.onMsg,
        onupdatesession: this.onUpdateSession,
      })
    },
    onMsg(msg){
      console.log('收到消息', msg.scene, msg.type, msg.text);
      this.ChangeNewsMsg = true
    },
    onConnect(){
      console.log('链接成功')
    },
    onUpdateSession(session){
      this.ChangeNewsMsg = true
      console.log('会话更新了', session);
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.mu-refresh-control{
  margin-top: 0
}
.NewMsgsChange{
		background: red;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		position: fixed;
		left: 38%;
		bottom: 6%;
    z-index: 2000
	}
  .swiper-box{
    margin-top: -1.2rem
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  /* text-align: center; */
  color: #2c3e50;
  font-size: 10px;
  width: 100xw;
  height: 100vh;
  background-color: #fff;
  /* padding-top: 1.4rem */
}
body{
  background: #fff
}
input{
  outline: none;
  border:none
}
a{text-decoration:none}
* {
  padding: 0;
  margin: 0;
}
</style>
