<template>
    <div class="PopupBox" v-if="Popups">
       <div class="DingdanDelet">
            <p class="DingdanDeletHeader">确认删除订单吗？</p>
            <div class="DingdanDeletFoot">
                <span class="DingdanDeletLeft" @click="DingdanDeletY">确定</span>
                <span class="DingdanDeletRight" @click="DingdanDeletN">取消</span>
            </div>
       </div>
    </div>
</template>

<script>
export default {
    name:'DingdanDelet',
    props:{
        DingdanDeletOpen:{
            type:Boolean,
            required:true
        }
    },
    data(){
        return {
            Popups:false
        }
    },
    created(){
        this.Popups = this.DingdanDeletOpen
    },
    methods:{
        DingdanDeletY(){
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        },
        DingdanDeletN(){
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        }
    }
}
</script>

<style>
.PopupBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.DingdanDelet{
    background: #fff;
    position: absolute;
    top: 5.24rem;
    left: 1rem;
    width: 5.5rem;
    height: 3rem;
    border-radius: 0.1rem
}
.DingdanDeletHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem
}
.DingdanDeletFoot{
    display: flex;
    justify-content:space-around ;
    border-top: #F1F1F1 1px solid
}
.DingdanDeletLeft{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
.DingdanDeletRight{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
</style>
