<template>
    <div class="LogisticsBox" v-if="Logisticss" >
        <div class="LogisticsCenter">
            <p class="LogisticsCenter-title">物流单号反馈</p>
            <div style="overflow:hidden;border-bottom:#F1F1F1 1px solid; margin-bottom: 0.4rem ">
                <div class="LogisticsLingpeijian">
                    <div v-for="(item,index) in LingpeijianLIst" :key="index" class="LingpeijianLIST">
                        <span class="LingpeijianLISTname">{{item.name}}</span>
                        <!-- <span class="LingpeijianLISTnum">{{item.qty}}</span> -->
                        <input type="text" placeholder="请输入单价" v-model="item.price" class="LogisticsMoney">
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 0.4rem;padding-bottom:0.3rem" >
                <div class="LogisticsFoot">
                    <p class="LogisticsText1">物流单位:</p>
                    <input type="text" placeholder="请输入物流单位" v-model="logistic_company"  class="LogisticsFootInput">
                </div>
                <div class="LogisticsFoot">
                    <p class="LogisticsText1">物流单号:</p>
                    <input type="text" placeholder="请输入物流单号" v-model="logistic_num" class="LogisticsFootInput">
                </div>
                <div class="LogisticsFoot">
                    <p class="LogisticsText1">处理时间:</p>
                    <input type="text" placeholder="预计多少天处理成" v-model="estimated_days" class="LogisticsFootInput">
                </div>
            </div>
            <div class="LogisticsUpload" @click="LogisticsUploads">提交</div>   
        </div>
        <img src="../assets/icon-wclose.png" class="LogisticsClose" @click="LogisticsUpload">
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
import {mapGetters,mapMutations} from 'vuex'
export default {
    name:"Logistics",
    computed:{
        ...mapGetters(['LingpeijianOrder','LingpeijianDingdanPhotoKeys'])
    },
    data(){
        return {
             Logisticss:false,
             LingpeijianLIst:[],
             logistic_company:'',
             logistic_num:'',
             estimated_days:''
        }
    },
    props:{
        LogisticsOpen:{
            type:Boolean,
            required:true
        }
    },
    created(){
        console.log(this.$route.params.id)
        console.log(this.LingpeijianOrder)
        this.LingpeijianLIst = this.LingpeijianOrder.items
        this.Logisticss = this.LogisticsOpen
    },
    methods:{
        ...mapMutations({
            setLingpeijianOrder:'SET_LINGPEIJIANORDER',
        }),
        LogisticsUpload(){
            this.Logisticss = false;
            this.$emit("changeLogistics",this.Logisticss)
        },
        LogisticsUploads(){
            console.log(this.LingpeijianOrder.items)
            // console.log(this.LingpeijianOrder)
            this.$axios.post(API+'/api/v1/o/ship_order',{
                "order_id": this.$route.params.id,
                "items":this.LingpeijianLIst,
                "logistic_company":this.logistic_company,
                "logistic_num":this.logistic_num,
                "estimated_days":this.estimated_days
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert("订单反馈成功")
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('订单反馈成功');
                    this.$router.push('/MyMac/Dingdan/All')
                }else{
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                }
                console.log(response)
            })

            // this.Logisticss = false;
            // this.$emit("changeLogistics",this.Logisticss)
        }
    }
}
</script>

<style>
.LogisticsBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center
}
.LogisticsCenter{
    background: #fff;
    /* position: absolute; */
    /* top: 2.9rem; */
    /* left: 0.3rem; */
    width: 6.9rem;
    border-radius: 0.2rem;
    padding: 0.3rem 0.3rem;
    padding-bottom: 0.8rem
}
.LogisticsCenter-title{
    text-align: center;
    color: #101012;
    font-size: 14px;
    margin-bottom: 0.4rem 
}

.LogisticsUpload{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    text-align: center;
    margin-right: 0.3rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
    width: 6.3rem;
}
.LogisticsUploadChange{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #FFFFFF;
}


.LogisticsClose{
    width: 0.4rem;
    height: 0.4rem;
    /* margin: 1rem 3.56rem; */
    position: absolute;
    bottom: 10%;
    left: 46%
}
.LogisticsText1{
    color: #666666;
    font-size: 14px;
    float: left;
}
.LogisticsText{
    color: #999999;
    font-size: 14px;
    margin-bottom: 0.2rem
}
.LingpeijianLIST{
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.LingpeijianLISTname{
    color: #666666;
    font-size: 14px
}
.LogisticsMoney{
    float: right;
    /* color: #CCCCCC; */
    font-size: 14px;
    text-align: right
}
.LogisticsTextAddress{
    color: #101012;
    font-size: 14px
}
.LogisticsLingpeijian{
    overflow: auto;
    height: 2rem;
}
.LogisticsFootInput{
    float: right;
    text-align: right;
    font-size: 14px
    /* color: #CCCCCC */
}
.LogisticsFoot{
    overflow: hidden;
    margin-bottom: 0.2rem
}
</style>
