<template>
    <div class="XinxiQuerenBox" v-if="XinxiQuerens" >
        <div class="XinxiQuerenCenter">
            <p class="XinxiQuerenCenter-title">信息确认</p>
            <div style="overflow:hidden;border-bottom:#F1F1F1 1px solid; margin-bottom: 0.4rem ">
                <p class="XinxiQuerenText">您需要的零设备</p>
                <div class="XinxiQuerenLingpeijian">
                    <div v-for="(item,index) in LingpeijianLIst" :key="index" class="LingpeijianLIST">
                        <span class="LingpeijianLISTname">{{item.name}}</span>
                        <span class="LingpeijianLISTnum">{{item.qty}}</span>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 0.8rem;border-bottom:1px solid #F1F1F1;padding-bottom:0.3rem" >
                <p class="XinxiQuerenText1">收货地址</p>
                <p class="XinxiQuerenTextAddress">{{LingpeijianAddress}}</p>
            </div>
            <div class="XinxiQuerenUpload" @click="XinxiQuerenUploads">确认提交</div>   
        </div>
        <img src="../assets/icon-wclose.png" class="XinxiQuerenClose" @click="XinxiQuerenUpload">
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
import { XinxiQueren } from 'mint-ui'
import {mapGetters} from 'vuex'
export default {
    name:"XinxiQueren",
    computed:{
        ...mapGetters(['LingpeijianOrder','LingpeijianDingdanPhotoKeys'])
    },
    data(){
        return {
             XinxiQuerens:false,
             LingpeijianLIst:[],
             LingpeijianAddress:''
        }
    },
    props:{
        XinxiQuerenOpen:{
            type:Boolean,
            required:true
        }
    },
    created(){
        this.LingpeijianLIst = this.LingpeijianOrder.items
        this.LingpeijianAddress = this.LingpeijianOrder.address
        this.XinxiQuerens = this.XinxiQuerenOpen
    },
    methods:{
        XinxiQuerenUpload(){
            this.XinxiQuerens = false;
            this.$emit("changeXinxiQueren",this.XinxiQuerens)
        },
        XinxiQuerenUploads(){
            console.log(this.LingpeijianOrder)
            this.$axios.post(API+'/api/v1/i/order',{
                "type":"buy",
                "product_id":this.LingpeijianOrder.product_id,
                "desc":this.LingpeijianOrder.desc,
                "items":this.LingpeijianOrder.items,
                "address_id":this.LingpeijianOrder.address_id,
                "pic_keys":this.LingpeijianDingdanPhotoKeys
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert("订单发布成功")
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('订单发布成功');
                    this.$router.push('/MyMac/Dingdan/All')
                }
                console.log(response)
            })
            this.XinxiQuerens = false;
            this.$emit("changeXinxiQueren",this.XinxiQuerens)
        }
    }
}
</script>

<style>
.XinxiQuerenBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center
}
.XinxiQuerenCenter{
    background: #fff;
    /* position: absolute; */
    /* top: 2.9rem; */
    /* left: 0.3rem; */
    width: 6.9rem;
    border-radius: 0.2rem;
    padding: 0.3rem 0.3rem;
    padding-bottom: 0.8rem
}
.XinxiQuerenCenter-title{
    text-align: center;
    color: #101012;
    font-size: 14px;
    margin-top:0.4rem;
    margin-bottom: 0.4rem 
}

.XinxiQuerenUpload{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    text-align: center;
    margin-right: 0.3rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
    width: 6.3rem;
}
.XinxiQuerenUploadChange{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #FFFFFF;
}


.XinxiQuerenClose{
    width: 0.4rem;
    height: 0.4rem;
    /* margin: 1rem 3.56rem; */
    position: absolute;
    bottom: 10%;
    left: 46%
}
.XinxiQuerenText1{
    color: #999999;
    font-size: 14px;
}
.XinxiQuerenText{
    color: #999999;
    font-size: 14px;
    margin-bottom: 0.2rem
}
.LingpeijianLIST{
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.LingpeijianLISTname{
    color: #101012;
    font-size: 14px
}
.LingpeijianLISTnum{
    float: right;
    color: #101012;
    font-size: 14px
}
.XinxiQuerenTextAddress{
    color: #101012;
    font-size: 14px
}
.XinxiQuerenLingpeijian{
    overflow: auto;
    height: 2rem;
}
</style>
